@import "variables";


.close-edit {
    display: none;
}

.container {
    display: block;
    width: 100%;
    .columns {
        padding-bottom: 10px;
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
        &.offset {
            margin: 0 4%;
        }
    }
    .bioheader {
        cursor: pointer;
        font-family: KomikaTitle;
        color: #ffffff;
        font-size: 20px;
        &.personal {
          &:after {
            transition: all 200ms ease;
            position: absolute;
            margin-left: 10px;
            margin-top: 9px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 10.4px;
            border-color: transparent transparent transparent #ffffff;
            transform: rotate(90deg);
          }
        }
        &.open {
          &:after {
            transform: rotate(0deg);
          }
        }
    }
    .box-avatar {
        width: 200px;
        height: 200px;
        overflow: hidden;
        order: 1;
        flex-grow: 1;
        position: relative;
        cursor: pointer;
        margin-left: 40%;
        border-radius: 100%;
        div.avatar {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .avatar_hover {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            display: none;
        }
        img.badge {
            position: absolute;
            left: 175px;
            top: 30px;
        }
        &:hover {
            .avatar_hover {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                display: block;
                border-radius: 100%;
                display: block;
                background-color: rgba(0, 0, 0, 0.3);
            }
            :after {
                content: '';
                position: absolute;
                top: 45%;
                left: 45%;
                height: 22px;
                width: 22px;
                background: asset-url('site/edit-icon.svg');
                visibility: none;
            }
        }
    }
    form {
        position: relative;
        label {
            font-size: 12px;
            text-transform: uppercase;
        }
        .msg_group {
            display: inline-block;
            width: 100%;
            height: 16px;
            .error-msg {
                font-size: 13px;
                color: #da001b;
                text-transform: uppercase;
                margin: 0;
            }
            .sucess-msg {
                font-size: 13px;
                color: #1d7546;
                text-transform: uppercase;
                margin: 0;
            }
        }
        .form-group {
          margin-top: 10px;
          label {
              position: relative;
              font-weight: bold;
              letter-spacing: 0.3px;
          }
        }
        .bio {
            // display: none;
            label {
                padding-left: 20px;
                &:after {
                    content: '';
                    width: 14px;
                    height: 13px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: no-repeat asset-url('site/bio-icon.svg');
                }
            }
            textarea {
                height: 80px;
                resize: none;
                border: 1px solid #fff;
                border-radius: 0;
                -webkit-appearance: none;
                width: 100%;
                resize: vertical;
                margin: 5px 0;
                padding: 10px 15px;
                color: #ffffff;
                font-weight: bold;
                letter-spacing: 0.4px;
                font-size: 14px;
                line-height: 18px;
                background-color: rgba(0, 0, 0, 0.25)

            }
        }
        .checksocial {
            // display: none;
            padding: 0;
            margin: 20px 0;
            text-align: justify;
            font-size: 0.1px; /*hide whitespace between elements*/
            li {
                display: inline-block;
                list-style: none;
                margin: 0 5px 15px 0;
                .img-social {
                    width: 30x;
                    height: 30px;
                    background-color: #000000;
                    border-radius: 100%;
                    float: left;
                    margin-right: 10px;
                    opacity: 0.5;
                }
                &.break{
                    width: 100%;
                    height: 0;
                }
            }
            input[type='checkbox'] {
                display: none;
            }
            input.cmn-toggle-round + label {
                display: block;
                padding: 2px;
                width: 57px;
                height: 30px;
                border-radius: 2px;
                float: right;
                cursor: pointer;
            }
            input.cmn-toggle-round + label:before,
            input.cmn-toggle-round + label:after {
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                content: "";
            }
            input.cmn-toggle-round + label:before {
                right: 1px;
                background: asset-url('site/toggle-on.svg') 10px 10px no-repeat, /* On top,    like z-index: 4; */
                asset-url('site/toggle-off.svg') 35px 9px no-repeat, ;
                background-color: #000;
                border-radius: 2px;
                transition: opacity 0.4s;
                opacity: 0.5;
            }
            input.cmn-toggle-round + label:after {
                width: 22px;
                height: 22px;
                margin: 3px;
                background-color: #fff;
                border-radius: 2px;
                transition: margin 0.4s;
                margin-left: 3px;
            }
            input.cmn-toggle-round:checked + label:before {
                opacity: 1;
            }
            input.cmn-toggle-round:checked + label:after {
                margin-left: 30px;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 100%;
            }
             label.label-social {
                padding-left: 24px;
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
                &:after {
                    content: '';
                    width: 14px;
                    height: 13px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: no-repeat asset-url('site/social-icon.svg');
                }
            }
        }
        .user {
            &.hide {
                display: none;
            }
            label {
                padding-left: 24px;
                &:after {
                    content: '';
                    width: 14px;
                    height: 13px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: no-repeat asset-url('site/apelido-icon.svg');
                }
            }
        }
        .pass {
            &.hide {
                display: none;
            }
            position: relative;
            label {
                padding-left: 20px;
                &:after {
                    content: '';
                    width: 10px;
                    height: 12px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: no-repeat asset-url('site/senha-icon.svg');
                }
            }
        }
        .mail {
            &.hide {
                display: none;
            }
            label {
                padding-left: 25px;
                &:after {
                    content: '';
                    width: 15px;
                    height: 12px;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    background: no-repeat asset-url('site/mail-icon.svg');
                }
            }
        }
        .username-fixed{
            background-color: transparent;
            border: none;
            border-bottom: 1px rgba(200, 200, 200, 0.6) solid;
            border-radius: 0;
            width: 100%;
            letter-spacing: 0.4px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: bold;
            letter-spacing: 0.4px;
            font-size: 13px;
            margin-bottom: 20px;
            padding: 5px 0 4px 0;
            margin-top: 0px;
        }
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px #fff solid;
            border-radius: 0;
            width: 100%;
            letter-spacing: 0.4px;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 0.4px;
            font-size: 13px;
            margin-bottom: 20px;
            padding: 5px 0 4px 0;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                font-size: 13px;
                opacity: 1;
            }
            &:-moz-placeholder {
                font-size: 13px;
                /* Firefox 18- */
                opacity: 1;
            }
            &::-moz-placeholder {
                font-size: 13px;
                /* Firefox 19+ */
                opacity: 1;
            }
            &:-ms-input-placeholder {
                font-size: 13px;
                opacity: 1;
            }
            &.error {
                color: #da001b;
                border-color: #da001b;
            }
        }
        input::-webkit-input-placeholder {
            font-size: 9pt;
            color: #fff;
        }
        input::-moz-placeholder {
            font-size: 9pt;
            color: #fff;
        }
        input:-ms-input-placeholder {
            font-size: 9pt;
            color: #fff;
        }
        input:-moz-placeholder {
            font-size: 9pt;
            color: #fff;
        }
        .input-pass {
            list-style: none;
            display: block;
            padding: 0;
            width: 100%;
            margin: 12px 0 20px 0;
            height: auto;
            overflow: hidden;
            li {
                width: 43px;
                height: 43px;
                border: solid 1px #fff;
                cursor: pointer;
                display: inline-block;
                position: relative;
                float: left;
                margin-right: 5px;
                &.locker{
                    background-image: image-url('site/lock.png') !important;
                }
            }
            &.register li {
                background: asset-url('site/pass-silhuete.png')
            }
            &.error {
                li {
                    color: #da001b;
                    border-color: #da001b;
                }
            }
        }
        .link-pass {
            text-decoration: none;
            border: none;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            transition-duration: 0.2s;
            &:hover {
                color: #d0d0d0;
                transition-duration: 0.2s;
            }
        }
        .label-pass {
            text-decoration: none;
            border: none;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            margin: 5px 0;
        }
        .link-delete {
            color: #000;
            margin: 30px 0;
            font-size: 14px;
            text-align: left;
            display: inline-block;
            a {
                text-decoration: none;
                font-weight: bold;
                border: none;
                color: #000;
                transition-duration: 0.2s;
                &:hover {
                    color: #fff;
                    transition-duration: 0.2s;
                }
            }
        }
        .pass-box {
            position: absolute;
            top: -130px;
            z-index: 9;
            &.register {
                top: -130px;
            }
            ul {
                width: 250px;
                height: 117px;
                background-color: #fff;
                border-radius: 3px;
                text-align: justify;
                padding: 10px;
                li {
                    height: 43px;
                    width: 43px;
                    list-style: none;
                    display: inline-block;
                    cursor: pointer;
                    padding: 1.5px;
                    margin: 1.5px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    &.active {
                        background-color: orange;
                    }
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                }
            }
            .after {
                position: relative;
                display: block;
                content: '';
                width: 24.9px;
                height: 25.4px;
                top: -20px;
                left: 10px;
                background: no-repeat asset-url('site/arrow-login.svg');
                transition: $anim-fast cubic-bezier(.14,1.18,.73,1.19);
            }
            &.show {
                // display: block;
                opacity: 1;
                transform: translateY(0px);
                transition-duration: $anim-fast;
            }
            &.hide {
                // display: none;
                opacity: 0;
                transform: translateY(20px);
                z-index: -1;
                transition-duration: $anim-fast;
            }
        }
    }
    button.btn {
        height: 33px;
        overflow: hidden;
        outline: none;
        border: 1px solid #000;
        -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
        font-family: KomikaTitle;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
        &.btn-submit {
            width: 48%;
            margin-top: 15px;
            background-color: #fff;
            position: relative;
            display: inline-block;
            float: left;
            &:hover {
                color: #fff;
            }
            &:before {
                background: #000;
            }
            &.pressed{
                transform: translate(3px, 4px);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
                color: #fff;
                &:before{
                    background: #000;
                    left: -90px;
                    top: -90px;
                }
            }
        }
        &.btn-cancel {
            width: 48%;
            margin-top: 15px;
            background-color: transparent;
            position: relative;
            display: inline-block;
            float: right;
            &:before {
                background: #7a68c9;
            }
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            transition-duration: 0.08s;
            transform: translate(3px, 4px);
            // background: transparent;
        }
        &:before {
            content: "";
            position: absolute;
            border-radius: 100%;
            -moz-border-radius: 33px 33px 0 0;
            overflow: hidden;
            width: 340px;
            height: 340px;
            bottom: 0;
            left: -340px;
            right: 0;
            top: -340px;
            z-index: -1;
            -webkit-transition: all $anim-faster ease-in;
        }
        &:hover:before {
            left: -90px;
            top: -90px;
        }
    }
}

.overlay-pass {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
}

@media (max-width: 900px) {
    .four.columns {
        width: 98%;
        float: none;
        padding: 0 20%;
        &.offset {
            margin-left: 0;
        }
    }
    .container .box-avatar {
        margin-left: 0;
        margin: 20px auto 15px auto;
        width: 125px;
        height: 125px;
        div.avatar {
            width: 125px;
            height: 125px;
        }
    }
}

@media (max-width: 500px) {
    body.edit-user .close-edit {
        display: block;
        position: absolute;
        top: 24px;
        right: 18px;
        outline: none;
        background-color: transparent;
        background-size: cover;
        border: none;
    }
    .edit-user header {
        display: none;
    }
    .four.columns {
        padding: 0;
    }
    .edit-user section {
        overflow: scroll;
        top: 40px;
        padding-bottom: 40px;
    }
    .link-delete {
        width: 70%;
    }
    .btn.btn-cancel {
        display: none !important;
    }
    .box-avatar {
        .avatar_hover {
            width: 125px;
            height: 125px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            display: block;
            border-radius: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.3);
        }
        :after {
            content: '';
            position: absolute;
            top: 45%;
            left: 45%;
            height: 22px;
            width: 22px;
            background: asset-url('site/edit-icon.svg');
            visibility: none;
        }
    }
    form .bio textarea {
      height: auto !important;
      font-size: 13px;
      line-height: 17px;
    }
    .checksocial li {
      margin: 0 0 5px 0;
    }
}
