@import 'reset.scss';
@import 'grid.scss';
@import 'https://fonts.googleapis.com/css?family=Lato:300';
@font-face {
    font-family: 'KomikaTitle';
    src: url('/fonts/KomikaTitle-webfont.eot');
    src: url('/fonts/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/KomikaTitle-webfont.woff') format('woff'), url('/fonts/KomikaTitle-webfont.ttf') format('truetype'), url('/fonts/KomikaTitle-webfont.svg#komika_titleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background: url(/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

header {
    height: 105px;
    display: block;
    padding-top: 35px;
    text-align: right;
    position: relative;
    z-index: 1;
}

#menu {
    position: absolute;
    left: 38px;
    top: 38px;
    z-index: 2;
    cursor: pointer;
}

.overlay {
    position: fixed;
    right: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(74, 74, 74, 0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &.open {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

.sidebar {
    position: fixed;
    left: 0px;
    z-index: 100;
    width: 500px;
    transform: translateX(-500px);
    height: 100%;
    background: url(/img/bg-pattern.png) no-repeat center top;
    background-size: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    &.open {
        transform: translateX(0px);
        -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        -ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    .menu {
        position: absolute;
        left: 38px;
        top: 38px;
        z-index: 2;
        cursor: pointer;
    }
    ul {
        margin: 136px 0px 0px 0px;
        list-style-type: none;
        padding: 0px;
        li {
            margin: 0px 0px 2px 0px;
            &.red {
                background: rgba(148, 25, 25, 0.8);
                mix-blend-mode: color-burn;
            }
            &.orange {
                background: rgba(248, 71, 28, 0.8);
                mix-blend-mode: color-burn;
            }
            &.yellow {
                background: rgba(248, 140, 28, 0.8);
                mix-blend-mode: color-burn;
            }
            &.purple {
                background: url(/img/teste-pattern-ramona.png) center center no-repeat;
                background-size: 100%;
            }
            &.pink {
                background: url(/img/teste-pattern-denise.png) center center no-repeat;
                background-size: 100%;
            }
            &.blue {
                background: url(/img/teste-pattern-geek.png) center center no-repeat;
                background-size: 100%;
            }
            a {
                font-family: KomikaTitle;
                font-size: 30px;
                letter-spacing: 1px;
                color: #ffffff;
                text-decoration: none;
                display: block;
                padding: 32px 97px;
            }
        }
    }
}

p.share {
    margin-bottom: 0px;
    a {
        text-decoration: none;
    }
    img.heart {
        float: left;
        margin-left: -10px;
    }
    span.counter {
        //font-size: 20px;
        letter-spacing: 0.4px;
        color: #bdbdbd;
        font-family: 'KomikaTitle';
        text-decoration: none;
    }
    img.arrow {
        float: right;
        margin-right: -10px;
    }
}

div.shareBox {
    position: absolute;
    right: 10px;
    bottom: -40px;
    padding: 10px;
    padding-left: 0px;
    background: #bdbdbd;
    height: 40px;
    display: none;
    img {
        margin-left: 10px;
        float: left;
    }
}

div.shareBox:after {
    bottom: 100%;
    right: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #bdbdbd;
    border-width: 12px;
    margin-left: -24px;
}

p.name {
    font-family: KomikaTitle;
    font-size: 13px;
    margin-top: 0;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
}

p.date {
    font-family: Lato;
    font-weight: 300;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9b9b9b;
    img {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 3px;
    }
}

div.card {
    background-color: #d8d8d8;
    position: relative;
    // width: 216px;
    margin-bottom: 24px;
    div.img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    img.userPhoto {
        position: absolute;
        left: 50%;
        bottom: -20px;
        z-index: 2;
        margin-left: -22px;
        width: 42px;
        border-radius: 100%;
        border: 2px solid #ffffff;
        &.noPhoto {
            position: relative;
            left: 50%;
            bottom: auto;
            top: 0px;
            z-index: 2;
            margin-left: -22px;
            margin-top: -10px;
        }
    }
    div.content {
        background: #ffffff;
        padding: 24px 22px 11px;
    }
    p.text {
        font-family: Lato;
        font-size: 13px;
        text-align: center;
        color: #000000;
        word-wrap: break-word;
    }
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 99;
        display: none;
    }
    &.text {
        p.text {
            font-size: 16px;
        }
    }
    &.geeklike {
        background: url(/img/faixa_geek.png) #d8d8d8 center top no-repeat;
        padding-top: 30px;
    }
    &.geek {
        background-color: #5bcfed;
        .content {
            background-color: #5bcfed;
            * {
                color: #ffffff;
            }
        }
    }
    &.noimage {
        .text {
            font-size: 20px;
        }
    }
    &.video {
        background: #ffffff;
        .content {
            padding-top: 0px;
        }
        iframe {
            width: 100%;
            height: 250px;
        }
    }
}

.lightbox {
    position: fixed;
    right: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(74, 74, 74, 0.6);
    .detail {
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 23px 34px;
        transform: translate(-50%, -50%);
        p {
            text-align: left !important;
        }
        p.content {
            padding: 20px 0px;
            overflow: auto;
            max-height: 400px;
            font-size: 13px;
            max-width: 400px;
        }
        p.share img.heart {
            margin-left: 0px !important;
        }
        p.share img.arrow {
            margin-right: 0px !important;
        }
        div.hr {
            width: 400px;
            border-bottom: solid 1px #bbbbbb;
        }
        &.image {}
        .close {
            position: absolute;
            right: -22px;
            top: -22px;
        }
    }
}

footer {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 38px;
    img {
        margin-top: 10px;
    }
}

.mobile {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    html,
    body {
        overflow: hidden;
    }
    header {
        height: 61px;
        padding: 0px;
    }
    section {
        position: absolute;
        left: 0px;
        top: 10%;
        width: 100%;
        height: 90%;
        overflow: hidden;
    }
    .cards {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        overflow: hidden;
        .card {
            float: left;
            margin: 0px 10px;
        }
    }
    #menu {
        position: absolute;
        left: 40px;
        top: 23px;
    }
    .sidebar {
        width: 100%;
        ul {
            margin-top: 71px;
            li {
                a {
                    font-size: 17px;
                    letter-spacing: 0.6px;
                    text-align: center;
                    padding: 20px 0px;
                }
            }
        }
        .menu {
            left: auto !important;
            right: 38px;
            top: 30px;
        }
        .login {
            position: absolute;
            left: 50%;
            top: 14px;
            margin-left: -44px;
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    footer {
        position: relative;
        text-align: center;
        right: auto;
        bottom: auto;
        width: 100%;
        img {
            margin: 26px 5px 5px 5px;
        }
    }
}
