<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin TMJ</title>
  <%= stylesheet_link_tag "application"%>
</head>
<body id="admin">
  <div class="menu">
    <a href="#" class="title-admin" >Admin TMJ</a>
    <a href="#" class="user">Robson C.</a>
  </div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="#">
          <img src="" alt="">
          <p>Dashboard</p>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <img src="" alt="">
          <p>Cards</p>
        </a>
        <ul>
          <li class="active"><a href="#">Moderar cards</a></li>
          <li><a href="#">Destaques</a></li>
          <li><a href="#">Upload card</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <img src="" alt="">
          <p>Usuários</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="" alt="">
          <p>Pontuação</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>