<section id="highlights-new">
  <div class="top-bar">
    <h1 class="title">Destaques</h1>
    <div class="action-bar">
      <div>
        <%= link_to(admin_highlight_path(@highlight), method: :delete) do %>
        <svg class="delete-icon" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Admin-Destaques-2" transform="translate(-372.000000, -154.000000)" stroke="#4A4A4A" stroke-width="1.5">
              <g id="deletar" transform="translate(373.000000, 155.000000)">
                <circle id="bg" cx="15.5" cy="15.5" r="15.5"></circle>
                <g id="Page-1" transform="translate(7.000000, 6.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path class="stroke" d="M0,3 L16.9543684,3" id="Stroke-1"></path>
                  <path class="stroke" d="M15.0378421,3.7 L15.0378421,16.5439 C15.0378421,17.8543 13.9731053,18.9253 12.6703684,18.9253 L4.15694737,18.9253 C2.85510526,18.9253 1.78947368,17.8543 1.78947368,16.5439 L1.78947368,3.7" id="Stroke-3"></path>
                  <path class="stroke" d="M5.20289474,2.64375 C5.20289474,1.19001921 6.32765811,0 7.70340174,0 L8.80426223,0 C10.1793419,0 11.3041053,1.19001921 11.3041053,2.64375" id="Stroke-5"></path>
                  <g id="Group" transform="translate(5.368421, 6.400000)">
                    <path class="stroke" d="M3,0 L3,9.3384" id="Stroke-7"></path>
                    <path class="stroke" d="M0,0.9 L0,8.4366" id="Stroke-9"></path>
                    <path class="stroke" d="M6,0.9 L6,8.4366" id="Stroke-11"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <% end %>

        <label for="submit-highlight" class="align-right">
          <svg class="save-icon" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Admin-2" transform="translate(-1192.000000, -154.000000)" stroke="#4BC182">
                <g id="aprovar" transform="translate(1193.000000, 155.000000)">
                  <g id="Group">
                    <ellipse id="bg" stroke-width="1.5" cx="15.5" cy="15.5" rx="15.5" ry="15.5"></ellipse>
                    <polyline class="stroke" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" points="6.06521739 15.7214674 11.5407609 21.1970109 23.2917826 9.44598913"></polyline>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </label>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">
      EDITAR DESTAQUE
    </div>
    <%= render partial: 'form' %>
  </div>
</section>
