<section id="highlights-new">
  <div class="top-bar">
    <h1 class="title">Destaques</h1>
    <div class="action-bar">
    </div>
  </div>
  <div class="content">
    <div class="title">
      NOVO DESTAQUE
    </div>
    <%= render partial: 'form' %>
  </div>
</section>
