<section id="highlights-new">
  <div class="top-bar">
    <h1 class="title">Destaques</h1>
    <div class="action-bar">
      <div>
        <!-- <a>
          <svg class="preview-icon" width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Admin-Destaques-2" transform="translate(-1233.000000, -154.000000)" stroke="#4A4A4A" stroke-width="1.5">
                <g id="preview" transform="translate(1234.000000, 155.000000)">
                  <ellipse id="bg" cx="15.5" cy="15.5" rx="15.5" ry="15.5"></ellipse>
                  <g  transform="translate(3.000000, 7.704545)" stroke-linecap="round" stroke-linejoin="round">
                    <path class="stroke" d="M6.45340909,7.54284091 C6.45340909,4.11670455 9.22954545,1.34056818 12.6556818,1.34056818 C16.0806818,1.34056818 18.8568182,4.11670455 18.8568182,7.54284091 C18.8568182,10.9678409 16.0806818,13.7439773 12.6556818,13.7439773 C9.22954545,13.7439773 6.45340909,10.9678409 6.45340909,7.54284091 L6.45340909,7.54284091 Z" id="Stroke-1"></path>
                    <path class="stroke" d="M10.6959091,7.54284091 C10.6959091,6.46102273 11.5731818,5.58261364 12.6561364,5.58261364 C13.7379545,5.58261364 14.6140909,6.46102273 14.6140909,7.54284091 C14.6140909,8.62352273 13.7379545,9.50193182 12.6561364,9.50193182 C11.5731818,9.50193182 10.6959091,8.62352273 10.6959091,7.54284091 L10.6959091,7.54284091 Z" id="Stroke-3"></path>
                    <path class="stroke" d="M24.0759091,6.43090909 C22.7509091,4.73204545 21.0338636,3.3275 19.1134091,2.36840909 C17.1509091,1.38886364 15.0406818,0.879772727 12.8372727,0.853636364 C12.7770455,0.8525 12.5338636,0.8525 12.4725,0.853636364 C10.2702273,0.879772727 8.15886364,1.38886364 6.19863636,2.36840909 C4.27590909,3.3275 2.56,4.73204545 1.235,6.43090909 C0.724772727,7.08545455 0.724772727,7.99909091 1.235,8.65363636 C2.56,10.3525 4.27590909,11.7570455 6.19863636,12.7161364 C8.15886364,13.6968182 10.2702273,14.2047727 12.4725,14.2309091 C12.5338636,14.2320455 12.7770455,14.2320455 12.8372727,14.2309091 C15.0406818,14.2047727 17.1509091,13.6968182 19.1134091,12.7161364 C21.0338636,11.7570455 22.7509091,10.3525 24.0759091,8.65363636 C24.5861364,7.99909091 24.5861364,7.08545455 24.0759091,6.43090909 L24.0759091,6.43090909 Z" id="Stroke-5"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a> -->

        <label for="submit-highlight" class="align-right">
          <svg class="save-icon" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Admin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Admin-2" transform="translate(-1192.000000, -154.000000)" stroke="#4BC182">
                <g id="aprovar" transform="translate(1193.000000, 155.000000)">
                  <g id="Group">
                    <ellipse id="bg" stroke-width="1.5" cx="15.5" cy="15.5" rx="15.5" ry="15.5"></ellipse>
                    <polyline class="stroke" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" points="6.06521739 15.7214674 11.5407609 21.1970109 23.2917826 9.44598913"></polyline>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </label>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">
      NOVO DESTAQUE
    </div>
    <%= render partial: 'form' %>
  </div>
</section>
