<section id="patterns" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Patterns</h1>
  </div>
    <div class="content">
        <%= simple_form_for [:admin, @pattern] do |f| %>
          <%= f.input :image, label: 'Imagem', error: 'Necessário selecionar uma imagem.' %>
          <%= f.button :submit, :class => 'button' %>
        <% end %>
    </div>
</section>
