<section id="cards" style="margin-top: 100px;">
    <div class="content">
        <%= simple_form_for [:admin, @pattern] do |f| %>
          <%= f.input :image, label: 'Image', error: 'Image is mandatory, please specify one' %>
          <%= f.button :submit %>
        <% end %>
    </div>
</section>
