<li class="editor-item">
  <img src="<%= editor.image_url %>">
  <div class="items">
    <div class="username"><%= editor.username %></div>
    <div class="actions">
        <a href="<%= edit_admin_editor_path(editor) %>">Editar</a>
        <a href="javascript:void(0)" data-revoke-editor="<%= editor.id %>">Rebaixar a Usuário</a>
    </div>
  </div>
</li>
