<li class="editor-item">
  <img src="<%= editor.image_url %>">
  <div class="items">
    <div class="username"><%= editor.username %></div>
    <div class="actions">
        <a class="button" href="<%= edit_admin_editor_path(editor) %>">Editar</a>
    </div>
  </div>
</li>
