<div id="popup">
  <div class="box">
    <div class="title">{{popup_title}}</div>
    <div class="actions">
      <a ng-click="closePopup()" ng-if="popup_cancel" class="cancel">{{popup_cancel}}</a>
      <a ng-click="closePopup()" ng-if="popup_confirm" class="confirm">{{popup_confirm}}</a>
    </div>
    <div class="close" ng-click="closePopup()">
      <div class="close-icon4">
        <span></span>
        <span></span>
      </div>
      <img src="<%= asset_url('site/balao_simples3.svg') %>" class="link" alt="">
      <img src="<%= asset_url('site/poof_simples.svg') %>" class="active poof" alt="">
    </div>
  </div>
</div>
