<div class="overlay-pass" ng-click="togglePassword()"></div>
<div class="container login">
	<div class="content-box">
		<h1 class="title">Minha Área</h1>
		<a ng-href="/user/auth/instagram" target="_self">
            <button class="btn btn-instagram">Entrar com Instagram</button>
        </a>
		<a ng-href="/user/auth/facebook" target="_self">
            <button class="btn btn-fb">Entrar com Facebook</button>
        </a>
        <a ng-href="/user/auth/twitter" target="_self">
            <button class="btn btn-twitter">Entrar com Twitter</button>
        </a>
		<h2>ou</h2>
		<form name="profileForm">
	        <div class="form-group user">
	            <label for="username">Apelido</label>
	            <br>
	            <input type="text" name="username" ng-model="form.username" class="form-control" placeholder="insira seu apelido"/>
	            <p class="error-msg" ngShow="msg_username">{{msg_username}}</p>
	        </div>
	        <div class="form-group pass">
	            <label for="password">Senha</label>
	            <br>
	            <ul class="input-pass">
	            	<li ng-click="togglePassword('first')" style="background:url('{{passwordChoice[0].img}}'); background-size: cover;">
	            		<input type="hidden" name="pass-1" value="{{passwordChoice[0].value}}"/>
	            	</li>
	            	<li ng-click="togglePassword()" style="background:url('{{passwordChoice[1].img}}'); background-size: cover;">
	            		<input type="hidden" name="pass-2" value="{{passwordChoice[1].value}}"/>
	            	</li>
	            	<li ng-click="togglePassword()" style="background:url('{{passwordChoice[2].img}}'); background-size: cover;">
	            		<input type="hidden" name="pass-3" value="{{passwordChoice[2].value}}"/>
	            	</li>
	            	<li ng-click="togglePassword()" style="background:url('{{passwordChoice[3].img}}'); background-size: cover;">
	            		<input type="hidden" name="pass-3" value="{{passwordChoice[3].value}}"/>
	            	</li>
	            </ul>
	            <a ng-href="#" ng-click="resetPass()" class="link-pass">Esqueceu a senha?</a>
	            <div class="pass-box hide" ng-class="{show: open, hide: !open}">
	            	<ul>
	            		<li ng-repeat="pass in passwords" ng-click="addToPasswordChoice(pass)">
	            			<img ng-src="{{pass.img}}" alt="{{pass.name}}">
	            		</li>
	            	</ul>
	            	<div class="after"></div>
	            </div>
	            <p class="error-msg pass" ngShow="msg_pass">{{msg_pass}}</p>
	        </div>
	        <div class="form-actions">
	            <button type="button" ng-click="login()" class="btn btn-submit">Entrar</button>
	        </div>
	        <p class="link-cadastro">É novo aqui? <a ng-href="/cadastro" target="_self"> Cadastre-se</a></p>
    	</form>
	</div>
</div>
