<div class="vertical-container" resize ng-if="pageIsLoaded">
    <div class="vertical-content">
        <div class="page-content" ng-bind-html="page.content"></div>
    </div>
</div>
<img class="initial-loading" src="<%= asset_url('site/loading.gif') %>" />