@font-face {
  font-family: 'KomikaTitle';
  src: url('../fonts/KomikaTitle-webfont.eot');
  src: url('../fonts/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KomikaTitle-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-webfont.ttf') format('truetype'),
    url('../fonts/KomikaTitle-webfont.svg#komika_titleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
