// Bootstrap variables
$grid-gutter-width: 20px;

$screen-md-min: 1024px;
$screen-lg-min: 1024px;
$container-desktop: (1024px + $grid-gutter-width);
$container-large-desktop: (1024px + $grid-gutter-width);
