@import "variables";

@import "bootstrap/variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/grid";

@import "mixins";
@import "reset";
@import "buttons";
@import "fonts";

body {
  background: url(../img/bg-pattern.png) no-repeat;
  background-size: cover;
  font: 14px 'Lato', sans-serif;
  min-width: 320px;
}

.remix-container {
  &.composing {
    .remix-landing {
      display: none;
    }
    .remix-composing {
      display: block;
    }
  }
  &.can-compose {
    .remix-composing {
      .top-actions button {
        display: none;
        &.next {
          display: inline-block;
        }
      }
      .toolbox {
        .tool-item {
          &.category {
            .popup {
              .categories {
                display: none;
              }
              .pictures {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  &.can-publish {
    .remix-composing {
      .top-actions button {
        display: none;
        &.publish {
          display: inline-block;
        }
      }
      .toolbox {
        .tool-item {
          &.category {
            display: none;
          }
        }
      }
    }
  }
  &.can-share {
    .remix-composing {
      .top-actions button {
        display: none;
        &.skip-share {
          display: inline-block;
        }
      }
      .toolbox {
        display: none;
      }
      .share {
        display: block;
      }
    }
  }
  @include mq-only-xs {
    &.composing {
      .remix-title {
        display: none;
      }
    }
  }
  @include mq-from-sm {
  }
}

@import "components/remix-title";
@import "components/remix-landing";
@import "components/remix-composing";
