@import "variables";

@import "bootstrap/variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/grid";

@import "mixins";
@import "reset";
@import "buttons";

@font-face {
  font-family: 'KomikaTitle';
  src: url('../fonts/KomikaTitle-webfont.eot');
  src: url('../fonts/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KomikaTitle-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-webfont.ttf') format('truetype'),
    url('../fonts/KomikaTitle-webfont.svg#komika_titleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(../img/bg-pattern.png) no-repeat;
  background-size: cover;
  font: 14px 'Lato', sans-serif;
  min-width: 320px;
}

.remix-container {
  &.composing {
    .remix-landing {
      display: none;
    }
    .remix-composing {
      display: block;
    }
  }
  &.can-compose {
    .remix-composing {
      .top-actions button {
        display: none;
        &.next {
          display: inline-block;
        }
      }
      .toolbox {
        .tool-item {
          &.category {
            .popup {
              .categories {
                display: none;
              }
              .pictures {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  &.can-publish {
    .remix-composing {
      .top-actions button {
        display: none;
        &.publish {
          display: inline-block;
        }
      }
      .toolbox {
        .tool-item {
          &.category {
            display: none;
          }
        }
      }
    }
  }
  &.can-share {
    .remix-composing {
      .top-actions button {
        display: none;
        &.skip-share {
          display: inline-block;
        }
      }
      .toolbox {
        display: none;
      }
      .share {
        display: block;
      }
    }
  }
  @include mq-only-xs {
    &.composing {
      .remix-title {
        display: none;
      }
    }
  }
  @include mq-from-sm {
  }
}

.remix-title {
  h2 {
    font-family: 'KomikaTitle';
    font-size: 32px;
    margin-top: 20px;
  }
  .intro {
    margin: 20px 0;
  }
}

.remix-landing {
  .gallery {
    .gallery-holder {
      margin-top: 20px;
    }
    .gallery-item {
      img {
        max-width: 100%;
      }
      .actions {
        @include clearfix;
        margin-top: 10px;
        text-align: right;
        button {
          padding: 0 5px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &.remove {
            float: left;
          }
        }
      }
    }
  }
  @include mq-only-xs {
    .gallery {
      overflow: auto;
      .gallery-holder {
        font-size: 0;
        line-height: 0;
        margin-left: -$grid-gutter-width;
        white-space: nowrap;
        .gallery-item {
          display: inline-block;
          margin-left: $grid-gutter-width;
        }
      }
    }
  }
  @include mq-from-sm {
    .gallery {
      .gallery-holder {
        @include make-row;
        .gallery-item {
          @include make-sm-column(3);
        }
      }
    }
  }
}

.remix-composing {
  display: none;
  position: relative;
  .cancel {
    font-size: 24px;
    line-height: 40px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .top-actions {
    @include clearfix;
    min-height: 40px;
    text-align: right;
    button {
      display: none;
      line-height: 40px;
      padding: 0 10px;
      &.publish, &.skip-share {
        font-family: 'KomikaTitle';
        font-size: 15px;
      }
    }
  }
  .artboard {
    position: relative;
    .canvas {
      background-color: #FFF;
      &:before {
        content: '';
        display: block;
        left: 0;
        padding-bottom: 100%;
        top: 0;
        width: 100%;
      }
    }
    .empty {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;

      font-family: 'KomikaTitle';
      font-size: 26px;
      text-align: center;
      width: 180px;
    }
  }
  .toolbox {
    @include clearfix;
    padding: 15px 20px 15px;
    position: relative;
    text-align: center;
    .tool-item {
      float: left;
      width: percentage(1 / 5);
      .toggler {
        line-height: 40px;
        padding: 0 5px;
        position: relative;
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent #FFF transparent;

          content: '';
          display: none;
          margin: 5px 0 0 -5px;
          position: absolute;
          left: 50%;
          top: 100%;
        }
      }
      .popup {
        background-color: #FFF;
        display: none;
        left: 0;
        padding: 10px;
        position: absolute;
        top: 100%;
        width: 100%;
      }
      &.category {
        .popup {
          padding: 2px;
          .categories, .pictures {
            @include clearfix;
            > div {
              background-color: #EFEFEF;
              float: left;
              line-height: 80px;
              height: 80px;
              padding: 0 1px;
              text-align: center;
              width: 80px;
            }
          }
          .pictures {
            display: none;
          }
        }
      }
      &.on {
        .toggler:after {
          display: block;
        }
        .popup {
          display: block;
        }
      }
    }
  }
  .share {
    display: none;
    p {
      font-family: 'KomikaTitle';
      font-size: 15px;
      margin: 20px auto;
      text-align: center;
      width: 60%;
    }
    .networks {
      font-size: 0;
      line-height: 0;
      margin-top: 20px;
      text-align: center;
      a {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  @include mq-only-xs {
    .toolbox {
      .tool-item.category {
        .toggler {
          display: none;
        }
        .popup {
          margin-top: -70px;
          z-index: 10;
        }
      }
    }
  }
  @include mq-from-sm {
    @include make-row;
    .top-actions,
    .cancel {
      display: none;
    }
    .artboard {
      @include make-sm-column(6);
    }
    .toolbox {
      @include make-sm-column(6);
      .tool-item {
        width: percentage(1 / 6);
      }
    }
    .share {
      @include make-sm-column(6);
    }
  }
}
