section#cards {
  #cards-container {
    min-height: 86%;
  }

  div.card {
    background-color: #d8d8d8;
    position: relative;
    margin-bottom: 24px;
    margin: 0 1% 20px 1%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    cursor: pointer;
    input {
      display: none;
    }
    &.show {
      opacity: 1;
    }
    &.ramona {
      .card-content {
        background-color: #b450db;
        p {
          color: #ffffff !important;
        }
      }
    }
    &.featured {
      cursor: pointer;
      height: 300px;
      position: relative;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), image-url(/img/tmj_monica.gif);
      p {
        font-family: KomikaTitle;
        font-size: 30px;
        letter-spacing: 1.2px;
        margin: 0px;
        color: #ffffff;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 25px;
        max-width: 400px;
      }
      &.pne {
        p {
          font-size: 20px;
        }
      }
    }
    &.selected {
      .selected-overlay {
        width: 100%;
        height: 100%;
        background-color: #0055E5;
        opacity: 0.4;
        position: absolute;
        z-index: 3;
      }
    }
    .status-bar {
      width: 100%;
      height: 15px;

      &.pending {
        height: 0;
      }
      &.rejected {
        background-color: #fe2842;
      }
      &.accepted {
        background-color: #4bc182;
      }
    }
    img.user-photo {
      z-index: 2;
      width: 42px;
      height: 42px;
      border-radius: 100%;
      border: 2px solid #ffffff;
      &.noPhoto {
        position: relative;
        left: 50%;
        bottom: auto;
        top: 0px;
        z-index: 2;
        margin-left: -22px;
        margin-top: -10px;
      }
      &.negative-margin {
        margin-top: -30px;
        position: relative;
      }
    }
    div.card-content {
      background: #ffffff;
      padding: 15px 18px 15px 18px;
      text-align: center;
      &.padding-top {
        padding: 45px 18px 15px 18px;
      }
      .name{
        font-family: KomikaTitle;
        &.user {
          font-family: Lato;
          font-size: 11px;
          margin-top: 0;
          letter-spacing: 0px;
          text-align: center;
          color: #000000;
          margin-bottom: 3px;
          font-weight: 700;
        }
      }
      .date{
        font-family: Lato;
        font-weight: 300;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.3px;
        text-align: center;
        color: #9b9b9b;
        margin-top: 0;
        img{
          display: inline-block;
          vertical-align: text-bottom;
          margin-right: 3px;
        }
      }
    }
    div.img {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      cursor: pointer;
      &.no-padding {
        padding: 0 !important;
      }
      img {
        bottom: -20px;
        top: auto;
      }
    }
    p.text {
      font-family: Lato;
      font-size: 13px;
      text-align: center;
      color: #000000;
      word-wrap: break-word;
      margin-top: 0;
      margin-bottom: 0;
    }
    p.read-more {
      display: inline;
      width: auto;
      color: #000;
      font-weight: 700;
      font-size: 13px;
      cursor: pointer;
      margin: 5px 0 0 0;
      transition-duration: 0.1s;
      padding: 1px 6px;
      &:hover{
        color: #fff;
        background: #ff5050;
        transition-duration: 0.1s;
      }
    }
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 99;
      display: none;
    }
    &.text {
      p.text {
        font-size: 19px;
      }
    }
    &.remixlike {
      background: asset-url(/img/faixa_remix.svg) #d8d8d8 center top no-repeat;
      padding-top: 30px;
    }
    &.ramonalike {
      background: asset-url(/img/faixa_ramona.svg) #d8d8d8 center top no-repeat;
      padding-top: 30px;
    }
    &.geeklike {
      background: asset-url(/img/faixa_geek.png) #d8d8d8 center top no-repeat;
      padding-top: 30px;
    }
    &.geek {
      background-color: #5bcfed;
      .card-content {
        background-color: #5bcfed;
        * {
          color: #ffffff;
        }
      }
    }
    &.noimage {
      .text {
        font-size: 20px;
      }
    }
    &.video {
      background: #ffffff;
      .card-content {
        padding-top: 0px;
      }
      iframe {
        width: 100%;
        height: 250px;
      }
    }
  }

  .videoMobile, .videoIframe {
      width: 100%;
      height: 100%;

      iframe {
          width: 100%;
          height: 100%;
      }
  }

  #paginate-container{
    width: 100%;
    height: 40px;

    .pagination {
      display: table;
      list-style: none;
      margin: 20px auto 30px auto;

      li {
        cursor: pointer;
        color: #666;
        display: inline-block;
        width: 30px;
        height: 30px;
        float: none;
        border: 1px solid #727272;
        border-radius: 20px;
        text-align: center;
        padding: 4px;
        margin: 0 2px;

        a {
          color: #000;
        }

        &:hover {
          background-color: #727272;
          color: #ffffff;
        }

        &.current {
          background-color: #727272;
          color: #ffffff;

          span {
            font-weight: 600;
          }
        }

        &.separator {
          line-height: 0;
          border: none;
          background-color: transparent;
          color: #666;
          font-size: 24px;
          letter-spacing: 3px;
          text-align: center;
          vertical-align: top;
          span{
              vertical-align: middle;
          }
        }
      }
    }
  }
}
