<section class="remix-gallery">
  <div class="gallery-holder">
    <div class="gallery-item-new"></div>
    <% @images.each do |i| %>
    <div class="gallery-item" data-id="<%= i.id %>">
      <%= image_tag remix_image_url(id: i.id), { :class => "picture" } %>
    </div>
    <% end %>
  </div>
</section>
