<section class="remix-title">
  <h2 style="font-weight: normal;">Remix</h2>
  <p class="intro">Aqui você pode criar suas artes a partir de imagens da turma! Divirta-se!</p>
  <button type="button" class="btn btn-default create-new">Criar um remx</button>
  <button type="button" class="btn btn-default create-new-comic">Criar uma tirinha</button>
</section>
