//= require 'jquery-ui'

@import "variables";

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "mixins";
@import "reset";
@import "buttons";
@import "fonts";

body {
  background: asset-url("bg-pattern.png") no-repeat;
  background-size: cover;
  font: 14px 'Lato', sans-serif;
  min-width: 320px;
}

.remix-container {
  &.initial {
    .remix-landing {
      display: none;
    }
    .remix-composing {
      display: block;
    }
  }
  &.can-choose-picture {
    .toolbox {
      .toolbox-item {
        &.category {
          .popup {
            .categories {
              display: none;
            }
            .pictures {
              display: block;
            }
          }
        }
      }
    }
  }
  &.can-compose {
    .remix-composing {
      // .top-actions button.next {
      //   display: inline-block;
      // }
      .top-actions button.publish { // fixme: misplaced
        display: inline-block;
      }
      .toolbox {
        .toolbox-item {
          opacity: 1;
        }
      }
    }
  }
  &.can-publish {
    .remix-composing {
      .top-actions button.publish {
        display: inline-block;
      }
    }
  }
  &.can-share {
    .remix-composing {
      .top-actions button.skip-share {
        display: inline-block;
      }
      .toolbox {
        display: none;
      }
      .share {
        display: block;
      }
    }
  }
  @include mq-only-xs {
    &.initial {
      .remix-title {
        display: none;
      }
    }
    &.can-publish {
      .remix-composing .toolbox-item.category {
        display: none;
      }
    }
  }
  @include mq-from-sm {
    &.can-compose {
      .remix-composing {
        .toolbox .publish { // fixme: misplaced
          display: block;
        }
      }
    }
  }
}

@import "partials/remix-title";
@import "partials/remix-landing";
@import "partials/remix-composing";
