.remix-composing {
  display: none;
  position: relative;
  .cancel {
    font-size: 24px;
    line-height: 40px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .top-actions {
    @include clearfix;
    min-height: 40px;
    text-align: right;
    button {
      display: none;
      line-height: 40px;
      padding: 0 10px;
      &.publish, &.skip-share {
        font-family: 'KomikaTitle';
        font-size: 15px;
      }
    }
  }
  .artboard {
    position: relative;
    .canvas {
      background-color: #FFF;
      position: relative;
      &:before {
        content: '';
        display: block;
        left: 0;
        padding-bottom: 100%;
        top: 0;
        width: 100%;
      }
      * {
        position: absolute;
        top: 0;
        left: 0;
      }
      .picture {
        height: 100%;
        width: 100%;
      }
    }
    .empty {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;

      font-family: 'KomikaTitle';
      font-size: 26px;
      text-align: center;
      width: 180px;
    }
  }
  .toolbox {
    @include clearfix;
    margin-top: 5px;
    padding: 10px 20px 15px;
    position: relative;
    text-align: center;
    .toolbox-item {
      float: left;
      opacity: 0.5;
      width: percentage(1 / 5);
      .toggler {
        line-height: 40px;
        padding: 0 5px;
        position: relative;
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 12px 24px 12px;
          border-color: transparent transparent #FFF transparent;

          content: '';
          display: none;
          margin: 5px 0 0 -12px;
          position: absolute;
          left: 50%;
          top: 100%;
        }
      }
      .popup {
        display: none;
        left: 0;
        padding: 0 10px;
        position: absolute;
        top: 100%;
        width: 100%;
        .popup-holder {
          background-color: #FFF;
          border-radius: $border-radius-small;
          max-height: 300px;
          overflow: auto;
          padding: 10px;
        }
      }
      &.category {
        opacity: 1;
        .popup {
          padding: 0;
          .popup-holder {
            border-radius: 0;
            padding: 2px;
          }
          .categories, .pictures {
            @include clearfix;
            > div {
              @include make-xs-column(3);
              background-color: #EFEFEF;
              line-height: 80px;
              height: 80px;
              padding: 0 1px;
              text-align: center;
              img {
                max-width: 100%;
              }
            }
          }
          .pictures {
            display: none;
          }
        }
      }
      &.on {
        .toggler:after {
          display: block;
        }
        .popup {
          display: block;
        }
      }
    }
    .publish {
      display: none;
      font-size: 23px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 120px;
    }
  }
  .share {
    display: none;
    p {
      font-family: 'KomikaTitle';
      font-size: 15px;
      margin: 20px auto;
      text-align: center;
      width: 60%;
    }
    .networks {
      font-size: 0;
      line-height: 0;
      margin-top: 20px;
      text-align: center;
      a {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  @include mq-only-xs {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    .toolbox {
      .toolbox-item {
        &.category {
          .toggler {
            display: none;
          }
          .popup {
            margin-top: -70px;
            z-index: 10;
          }
        }
        &.ballons, &.stickers {
          .toggler:after {
            border-width: 24px 12px 0 12px;
            border-color: #FFF transparent transparent transparent;

            bottom: 100%;
            top: auto;
          }
          .popup {
            bottom: 100%;
            top: auto;
          }
          .options {
            @include clearfix;
            .option-item {
              float: left;
            }
          }
        }
      }
    }
  }
  @include mq-from-sm {
    @include make-row;
    .top-actions,
    .cancel {
      display: none;
    }
    .artboard {
      @include make-sm-column(6);
    }
    .toolbox {
      @include make-sm-column(6);
      padding-bottom: 25px;
      padding-right: 132px;
      .toolbox-item {
        width: percentage(1 / 6);
      }
    }
    .share {
      @include make-sm-column(6);
    }
  }
}
