<section id="background-colors" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Text Colors</h1>
  </div>
    <div class="content">
        <%= simple_form_for [:admin, @background] do |f| %>
          <%= f.input :color, class: 'button', label: 'Cor', error: 'Necessário informar uma cor.' %>
          <%= f.button :submit, :class=> 'button' %>
        <% end %>
    </div>
</section>
