// Bootstrap variables
$grid-gutter-width: 20px;
$screen-sm-max: 600px;
$screen-md-min: 1024px;
$screen-lg-min: 1024px;
$container-desktop: (1024px + $grid-gutter-width);
$container-large-desktop: (1024px + $grid-gutter-width);


// App variables
$color-facebook: #4A90E2;
$color-normal: #FFFFFF;
$color-twitter: #61C5FF;
$color-tumblr: #3EBFCB;
