<section id="stickers" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Stickers</h1>
  </div>
    <div class="content">
        <%= simple_form_for [:admin, @sticker] do |f| %>
          <%= f.input :image, label: 'Imagem', error: 'Necessário selecionar uma imagem' %>
          <%= f.input :kind, label: 'Tipo', error: 'Necessário selecionar um grupo de stickers' %>
          <%= f.button :submit %>
        <% end %>
    </div>
</section>
