%text-styles {
    &.g1 {
        background-color: #000;
        color: #FFF;
        font-size: 24px;
        padding: 10px;
    }
    &.g2 {
        color: #000;
        font-size: 24px;
        padding: 10px;
    }
    &.m1 {
        background-color: #000;
        color: #FFF;
        font-size: 18px;
        padding: 5px 8px;
    }
    &.m2 {
        color: #000;
        font-size: 18px;
        padding: 5px 8px;
    }
    &.p1 {
        background-color: #000;
        color: #FFF;
        font-size: 12px;
        padding: 2px 5px;
    }
    &.p2 {
        color: #000;
        font-size: 12px;
        padding: 2px 5px;
    }
}

.to_clone {
    display: none;
}

.remix-composer {
    display: none;
    position: relative;
    &.share-remix-page {
        display: block;
    }
    .cancel {
        font-size: 30px;
        line-height: 40px;
        padding: 0 10px;
        position: absolute;
        transform: translateX(-50%);
        left: 49%;
        top: -10px;
    }
    .actions {
        @include clearfix;
        min-height: 40px;
        text-align: right;
        a,
        button {
            display: none;
            line-height: 40px;
            padding: 0 5px;
            &.publish,
            &.create-new {
                font-family: 'KomikaTitle';
                font-size: 15px;
            }
            &.create-new-comic {
                font-family: 'KomikaTitle';
                font-size: 15px;
            }
        }
    }
    .artboard {
        position: relative;
        .empty,
        .empty-comic {
            transform: translate(-50%, -50%);
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: 'KomikaTitle';
            font-size: 26px;
            text-align: center;
            width: 180px;
        }
        .empty-comic {
            display: none;
        }
        .loading {
            position: absolute;
            display: none;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-bottom: auto;
            margin-top: auto;
            top: 0;
            bottom: 0;
        }
    }
    .toolbox {
        @include clearfix;
        margin-top: 5px;
        padding: 10px 0px 15px;
        position: relative;
        .toolbox-item {
            float: left;
            opacity: 0.5;
            width: 13%;
            .toggler {
                display: block;
                margin: 0 auto;
                padding: 0 5px;
                position: relative;
                img {
                    vertical-align: middle;
                    height: 26px;
                }
                &.toggler-image {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 0.5px;
                        left: 7.5px;
                        z-index: -1;
                    }
                }
                &.toggler-aquarela {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 1px;
                        left: 8px;
                        z-index: -1;
                    }
                }
                &.toggler-bg {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 3px;
                        left: 8px;
                        z-index: -1;
                    }
                }
                &.toggler-fx {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        z-index: -1;
                    }
                }
                &.toggler-baloes {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 1px;
                        left: 7px;
                        z-index: -1;
                    }
                }
                &.toggler-stickers {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 1px;
                        left: 6px;
                        z-index: -1;
                    }
                }
                &.toggler-typo {
                    .toggler-shad-icon {
                        position: absolute;
                        top: 1px;
                        left: 8px;
                        z-index: -1;
                    }
                }
            }
        }
        .toolbox-item-popup {
            .toggler {
                &:after {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 12px 24px 12px;
                    border-color: transparent transparent #FFF transparent;
                    content: '';
                    display: none;
                    margin: 5px 0 0 -12px;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                }
            }
            .popup {
                display: none;
                left: 0;
                padding: 0 10px;
                position: absolute;
                top: 100%;
                width: 100%;
                .popup-holder {
                    background-color: #FFF;
                    border-radius: $border-radius-small;
                    max-height: 300px;
                    overflow: auto;
                    padding: 10px;
                }
            }
            &.on {
                .toggler:after {
                    display: block;
                    animation: enterElem .2s ease-in forwards;
                }
                .popup {
                    display: block;
                    animation: enterElem .2s ease-in forwards;
                }
                .toggler-image:hover {
                    .toggler-main-icon {
                        transform: translate(1px, 1px);
                    }
                    .toggler-shad-icon {
                        opacity: 0;
                    }
                }
            }
            &.category {
                opacity: 1;
                .popup {
                    .popup-holder {
                        border-radius: 0;
                        padding: 2px;
                    }
                    .categories,
                    .pictures {
                        margin: -1px -1px 0;
                        .item {
                            cursor: pointer;
                            min-width: 82px;
                            padding: 1px 1px 1px;
                            > div {
                                background-color: #EFEFEF;
                                height: 100%;
                                position: relative;
                                &.comic-picture {
                                    background: #FFFFFF;
                                }
                                &:before {
                                    content: '';
                                    display: block;
                                    left: 0;
                                    padding-bottom: 100%;
                                    top: 0;
                                    width: 100%;
                                }
                                img {
                                    max-height: 100%;
                                    max-width: 100%;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                }
                                span {
                                    position: absolute;
                                    left: 0px;
                                    top: 50%;
                                    transform: translate(0px, -50%);
                                    width: 100%;
                                    display: block;
                                    font-family: KomikaTitle;
                                    font-size: 30px;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: normal;
                                    letter-spacing: 1px;
                                    text-align: center;
                                    color: #ffffff;
                                }
                            }
                            &.selected {
                                img {
                                    opacity: 0.36;
                                }
                                > div {
                                    background: #000000;
                                }
                            }
                            &.take-photo,
                            &.go-back {
                                > div {
                                    img {
                                        transform: translate(-50%, -50%);
                                        left: 50%;
                                        top: 50%;
                                        height: auto;
                                        width: auto;
                                    }
                                }
                            }
                            &.take-photo {
                                input {
                                    cursor: pointer;
                                    height: 100%;
                                    left: 0;
                                    opacity: 0;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .categories {
                        .item > div img {
                            height: 100%;
                            width: 100%;
                        }
                        p.no_remix {
                            text-align: center;
                            font-family: 'KomikaTitle';
                            font-size: 16px;
                            padding: 20px;
                            line-height: 20px;
                        }
                    }
                    .pictures {
                        display: none;
                        .item > div img {
                            transform: translateX(-50%);
                            left: 50%;
                        }
                    }
                }
            }
        }
        .toolbox-item-elements {
            .elements {
                @include clearfix;
                .elements-item {
                    cursor: pointer;
                    float: left;
                    height: 60px;
                    padding: 5px;
                    img {
                        max-height: 100%;
                    }
                }
            }
        }
        .toolbox-item-texts {
            .popup {
                left: auto;
                right: 0;
                width: auto;
            }
            .options {
                position: relative;
                .color-palette {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    padding: 10px 0;
                    top: 0;
                    .holder {
                        border-right: 1px solid #979797;
                        height: 100%;
                        padding: 0 10px;
                        text-align: center;
                        width: 61px;
                        img {
                            margin-top: 5px;
                        }
                    }
                    // .palette-item {
                    //   border-radius: 100%;
                    //   height: 16px;
                    //   position: absolute;
                    //   width: 16px;
                    //   &:nth-child(1) {
                    //     left: 12px;
                    //   }
                    //   &:nth-child(2) {
                    //     left: 14px;
                    //     top: 8px;
                    //   }
                    // }
                }
                .styles {
                    padding-left: 10px + 40px + 10px;
                    .styles-item {
                        cursor: pointer;
                        display: inline-block;
                        line-height: 1;
                        margin: 0 1px;
                        text-align: center;
                        vertical-align: middle;
                        @extend %text-styles;
                        span {
                            font-family: 'KomikaTitle';
                        }
                    }
                }
            }
        }
        .publish {
            display: none;
            position: absolute;
            right: -70px;
            top: 0;
        }
        &.comic {
            display: none;
        }
    }
    .share {
        display: none;
        animation: enterElem .2s ease-in forwards;
        &.detail {
            display: block;
            .avatar {
                text-align: center;
                font-size: 14px;
                .img {
                    display: inline-block;
                    border-radius: 100%;
                    width: 66px;
                    height: 66px;
                    border: 1px solid black;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 3px 3px 0px 0px black;
                    -webkit-transition: all 0.13s ease-in;
                    -moz-transition: all 0.13s ease-in;
                    -o-transition: all 0.13s ease-in;
                    transition: all 0.13s ease-in;
                    &:hover {
                        box-shadow: 0px 0px 0px 0px black;
                        -webkit-transition: all 0.13s ease-in;
                        -moz-transition: all 0.13s ease-in;
                        -o-transition: all 0.13s ease-in;
                        transition: all 0.13s ease-in;
                        transform: translate(3px, 3px);
                    }
                }
            }
        }
        p {
            font-family: 'KomikaTitle';
            font-size: 15px;
            text-align: center;
            &.call {
                margin: 20px 0;
            }
        }
        .networks {
            font-size: 0;
            line-height: 0;
            margin: 20px 0;
            text-align: center;
            a {
                display: inline-block;
                margin: 5px 0;
                width: 250px;
                img {
                    float: left;
                }
            }
        }
    }
    .publish {
        display: none;
        position: absolute;
        right: -80px;
        top: 0;
    }
    @include mq-only-xs {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        margin-top: 20px;
        .share-remix-page {
            .artboard {
                margin-bottom: 30px;
            }
        }
        .artboard {
            margin-left: -23px;
            margin-right: -23px;
        }
        .toolbox {
            margin-left: -23px;
            margin-right: -23px;
            .toolbox-item-popup.category {
                .toggler {
                    //display: none;
                }
                .popup {
                    margin-top: -70px;
                    padding-left: 0;
                    padding-right: 0;
                    z-index: 10;
                    .categories,
                    .pictures {
                        font-size: 0;
                        line-height: 0;
                        white-space: nowrap;
                        .item {
                            display: inline-block;
                        }
                    }
                    .pictures {
                        .item {
                            display: none;
                            &.go-back,
                            &.on {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .toolbox-item-popup-above {
                .toggler:after {
                    border-width: 24px 12px 0 12px;
                    border-color: #FFF transparent transparent transparent;
                    bottom: 100%;
                    top: auto;
                }
                .popup {
                    bottom: 100%;
                    top: auto;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .toolbox {
            .toolbox-item {
                width: percentage(1 / 7);
            }
        }
        .artboard {
            .loading {
                width: 150px;
            }
        }
    }
    @include mq-from-sm {
        @include make-row;
        display: block;
        .cancel {
            display: none;
        }
        .actions {
            @include make-sm-column-push(6);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .artboard {
            @include make-sm-column(6);
        }
        .toolbox {
            @include make-sm-column(6);
            margin-top: 0;
            padding-bottom: 25px;
            // padding-right: 132px;
            padding-top: 0;
            .toolbox-item {
                width: percentage(1 / 7);
            }
            .toolbox-item-popup.category .popup {
                .categories,
                .pictures {
                    @include clearfix;
                    .item {
                        float: left;
                        width: percentage((3 / $grid-columns));
                    }
                }
                .pictures .item {
                    display: none;
                    &.go-back,
                    &.on {
                        display: block;
                    }
                }
            }
        }
        .share {
            @include make-sm-column(6);
            p {
                font-size: 21px;
            }
            .networks a {
                width: 280px;
            }
        }
    }
}

@keyframes enterElem {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

// States
.remix-container {
    &.initial {
        .remix-composer {
            display: block;
        }
    }
    &.can-choose-picture {
        .remix-composer .toolbox .toolbox-item.category .popup {
            .categories {
                display: none;
            }
            .pictures {
                display: block;
            }
        }
    }
    &.can-compose {
        .remix-composer {
            .toolbox {
                .toolbox-item {
                    opacity: 1;
                    .toggler-itens {
                        &:hover {
                            .toggler-main-icon {
                                transform: translate(1px, 1px);
                            }
                            .toggler-shad-icon {
                                opacity: 0;
                            }
                        }
                    }
                    &.category {
                        //opacity: 0.5;
                    }
                }
            }
        }
    }
    &.can-share {
        .remix-composer {
            .toolbox, .toolbox.comic {
                display: none !important;
            }
            .share {
                display: block;
            }
        }
    }
    @include mq-only-xs {
        &.can-compose {
            .remix-composer {
                .actions {
                    button.publish {
                        display: inline-block;
                        position: absolute;
                        right: -8px;
                        top: -7px;
                    }
                }
            }
        }
        &.can-publish {
            .remix-composer {
                .actions button.publish {
                    display: inline-block;
                }
                .toolbox-item.category {
                    display: none;
                }
            }
        }
        &.can-share {
            .remix-composer {
                .actions button.create-new, .actions button.create-new-comic {
                    display: inline-block;
                    position: absolute;
                    right: -8px;
                    top: -7px;
                }
                .artboard {
                    padding: 0 15%;
                }
            }
            .remix-canvas {
                border: 5px solid #FFF;
            }
        }
    }
    @include mq-from-sm {
        &.can-compose {
            .remix-composer {
                .actions .start-over {
                    display: inline-block;
                    position: relative;
                    .toggler-shad-icon {
                        position: absolute;
                        top: 13px;
                        left: 7px;
                        z-index: -1;
                    }
                    &:hover {
                        .toggler-main-icon {
                            transform: translate(1px, 1px);
                        }
                        .toggler-shad-icon {
                            opacity: 0;
                        }
                    }
                }
                .toolbox .publish {
                    // fixme: misplaced
                    display: block;
                }
            }
        }
        &.comic {
            .toolbox {
                .publish {
                    display: none;
                    &.comic {
                        display: block;
                    }
                }
            }
        }
        &.can-share {
            .remix-composer {
                .actions {
                    .download {
                        display: inline-block;
                        position: relative;
                        .toggler-shad-icon {
                            position: absolute;
                            top: 14px;
                            left: 9px;
                            z-index: -1;
                        }
                        &:hover {
                            .toggler-main-icon {
                                transform: translate(1px, 1px);
                            }
                            .toggler-shad-icon {
                                opacity: 0;
                            }
                        }
                    }
                    .remove {
                        display: inline-block;
                        position: relative;
                        .toggler-shad-icon {
                            position: absolute;
                            top: 14.5px;
                            left: 9.7px;
                            z-index: -1;
                        }
                        &:hover {
                            .toggler-main-icon {
                                transform: translate(1px, 1px);
                            }
                            .toggler-shad-icon {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.remix-container.share-remix-page {
    .remix-title {
        h2 {
            margin-bottom: 30px;
        }
        .intro, button.create-new, button.create-new-comic {
            display: none !important;
        }
    }
    .share {
        p {
            &.call {
                line-height: 30px;
            }
        }
    }
    button.cancel,
    .actions {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .remix-composer .share p.call {
        line-height: 20px
    }
    .remix-container {
        .share-remix-page {
            .remix-canvas {
                width: 60% !important;
                margin: 0 auto;
                border: 5px solid #FFF;
            }
        }
    }
}
