.remix-title {
    h2 {
        font-family: 'KomikaTitle';
        font-size: 36px;
        margin-top: 35px;
        text-align: left;
        letter-spacing: 1px;
        @include mq-only-xs {
            margin-top: 50px;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .intro {
        opacity: 0.8;
        line-height: 18px;
        margin: 20px 0;
        font-size: 15px;
        font-weight: bold;
        @include mq-only-xs {
            font-size: 14px;
            opacity: 0.8;
            margin: 10px 0;
        }
    }
    @include mq-from-sm {
        .create-new, .create-new-comic {
            display: none;
        }
    }
}

// States
.remix-container {
    &.initial {
        .remix-title .create-new, .remix-title .create-new-comic {
            display: none;
        }
    }
    @include mq-only-xs {
        &.initial {
            .remix-title {
                display: none;
            }
        }
    }
}

#menu {
    position: fixed;
    left: 38px;
    top: 38px;
    z-index: 120;
    cursor: pointer;
    // -webkit-filter: drop-shadow( 3px 3px 0px #000);
    // filter: drop-shadow( 3px 3px 0px #000);
    transition-duration: 0.3s;
    cursor: pointer;
    display: inline-block;
    #nav-icon4 {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 14px;
        left: 12px;
        z-index: 9;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 2px;
            background: #000;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            &:nth-child(1) {
                top: 0px;
                width: 65%;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
            &:nth-child(2) {
                top: 5px;
                width: 85%;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
            &:nth-child(3) {
                top: 10px;
                width: 100%;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
        }
    }
    .shadow-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 1;
        transition-duration: 0.2s;
    }
    &.open #nav-icon4 span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 3px;
        width: 100%;
    }
    &.open #nav-icon4 span:nth-child(2) {
        width: 0%;
        opacity: 0;
        width: 100%;
    }
    &.open #nav-icon4 span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 12px;
        left: 3px;
        width: 100%;
    }
    &:hover .content-icon-menu {
        // -webkit-filter: drop-shadow( 0px 0px 0px #000);
        // filter: drop-shadow( 0px 0px 0px #000);
        transition-duration: 0.2s;
        -ms-transform: translate(3px, 3px);
        /* IE 9 */
        -webkit-transform: translate(3px, 3px);
        /* Safari */
        transform: translate(3px, 3px);
    }
    &:hover .shadow-menu {
        opacity: 0;
        transition-duration: 0.2s;
    }
    &:hover span {
        width: 100% !important;
        background-color: #000;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    &:hover #Fill-6 {
        fill: #f1f1f1;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
}

.sidebar {
    position: fixed;
    left: 0px;
    z-index: 110;
    width: 420px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    height: 100%;
    background: asset-url('site/bg_gray.jpg') center top;
    background-size: cover;
    -webkit-transition: transform 0.3s ease-in 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    -moz-transition: transform 0.3s ease-in 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    -ms-transition: transform 0.3s ease-in 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    -o-transition: transform 0.3s ease-in 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    transition: transform 0.3s ease-in 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    &.open {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -webkit-transition: transform 0.3s ease-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
        -moz-transition: transform 0.3s ease-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
        -ms-transition: transform 0.3s ease-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
        -o-transition: transform 0.3s ease-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
        transition: transform 0.3s ease-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
    }
    .menu {
        position: absolute;
        left: 38px;
        top: 38px;
        z-index: 2;
        cursor: pointer;
    }
    ul {
        position: absolute;
        margin: 0px 0px 0px;
        list-style-type: none;
        padding: 0px;
        overflow: auto;
        top: 136px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        li {
            cursor: pointer;
            opacity: 1;

            $offset : 5px;
            $count : 15;
            $duration : 0.2;

            @keyframes wave {
              from { transform : translateY(0);  }
              to   { transform : translateY( $offset ); }
            }
            @keyframes flash {
              from { color: #fff; }
              to   { color: rgba(72, 93, 99, 1); }
            }
            @keyframes flashramona {
              from { color: #fff; }
              to   { color: rgba(107, 72, 125, 1); }
            }
            @keyframes flashcasting {
              from { color: #fff; }
              to   { color: rgba(82, 97, 148, 1); }
            }
            @keyframes flashremix {
              from { color: #fff; }
              to   { color: rgba(59, 59, 59, 1); }
            }

            .wavetext {
                transition-duration: 0.2s;
                margin-bottom: 2px;
                span {
                  font-family: KomikaTitle;
                  font-size: 25px;
                  display: inline-block;
                }
            }

            &:hover{
                .wavetext {
                    transition-duration: 0.2s;
                    margin-left: 10px;
                    &.homewv {
                        span {
                          animation-name: wave;
                          animation-name: flash;
                          animation-duration: #{$duration}s;
                          //animation-delay: 1s;
                          animation-iteration-count: 2;
                          animation-direction: normal;
                         }
                    }
                    &.ramonawv {
                        span {
                          animation-name: wave;
                          animation-name: flashramona;
                          animation-duration: #{$duration}s;
                          //animation-delay: 1s;
                          animation-iteration-count: 2;
                          animation-direction: normal;
                         }
                    }
                    &.castingwv {
                        span {
                          animation-name: wave;
                          animation-name: flashcasting;
                          animation-duration: #{$duration}s;
                          //animation-delay: 1s;
                          animation-iteration-count: 2;
                          animation-direction: normal;
                         }
                    }
                    &.remixwv {
                        span {
                          animation-name: wave;
                          animation-name: flashremix;
                          animation-duration: #{$duration}s;
                          //animation-delay: 1s;
                          animation-iteration-count: 2;
                          animation-direction: normal;
                         }
                    }
                }
                @for $i from 0 to $count {
                  .wavetext :nth-child( #{$count}n + #{$i} ) {
                      animation-delay :
                        -#{($count - $i) * 2 * $duration / $count }s;
                        color: #fff;
                  }
                }

            }


            &.red {
                background: asset-url('site/tudo_sobre_tmj.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.orange {
                background: asset-url('site/remix.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.yellow {
                background: asset-url('site/feito_por_voce.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.purple {
                background: asset-url('site/ramona_menu.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.pink {
                background: asset-url('site/denise.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.blue {
                background: asset-url('site/participe.png') center center no-repeat;
                background-size: auto 100%;
                transition-duration: 0.2s;
                &:hover {
                    background-size: auto 110%;
                    transition-duration: 0.2s;
                    color: #000;
                }
            }
            &.menu-login {
                width: 100%;
                height: 121px;
                background: linear-gradient(104deg, rgba(48, 35, 174, 0.5), rgba(200, 109, 215, 0.5));
                margin-bottom: 20px;
                color: #000000;
                font-size: 25px;
                letter-spacing: 1px;
                text-decoration: none;
                display: block;
                padding: 25px 0 25px 35px;
                .avatar,
                img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    float: left;
                    height: 70px;
                    width: 70px;
                    border-radius: 70px;
                    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    border: 1px solid #000000;
                }
                span {
                    font-family: KomikaTitle;
                    float: left;
                    margin: 15px;
                }
                a {
                    font-size: 18px;
                    position: absolute;
                    right: -10px;
                    font-family: KomikaTitle;
                    background-color: #ffffff;
                    color: #000000;
                    width: 80px;
                    height: 33px;
                    line-height: 32px;
                    text-align: center;
                    padding: 0;
                    margin: 18px 35px 15px 0;
                    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
                    border: 1px solid #000000;
                    overflow: hidden;
                    transition-duration: 0.3s;
                    letter-spacing: 0px;

                    &:before{
                        content: '';
                        position: absolute;
                        background-color:#000;
                        width: 160px;
                        height: 160px;
                        top: -160px;
                        left: -160px;
                        transition-duration: 0.3s;
                        border-radius: 100%;
                        z-index: -1;
                    }
                    &:hover {
                        transition-duration: 0.3s;
                        transform: translate(2px, 2px);
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        color: #fff;
                        &:before{
                            top: -60px;
                            left: -60px;
                            transition-duration: 0.3s;
                        }
                    }
                }
            }
            a {
                cursor: pointer;
                font-family: KomikaTitle;
                font-size: 25px;
                letter-spacing: 1px;
                color: #ffffff;
                text-decoration: none;
                display: block;
                padding: 25px 0 25px 35px;
            }
            &.animate {
                .wavetext {
                    animation: itensMenu .4s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
                }
            }
        }
    }
}

.terms-content {
    position: absolute;
    left: 30px;
    bottom: 5px;
    font-family: Lato;
    font-weight: 300;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.3px;
    text-align: right;
    color: #909090;
    a {
        text-decoration: none;
        color: #909090;
        font-weight: bold;
        border-bottom: none;
        transition-duration: 0.2s;
        &:hover{
            color: #606060;
            transition-duration: 0.2s;
        }
    }
}

.overlay {
    position: fixed;
    right: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(74, 74, 74, 0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &.open {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

footer {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 38px;
    transition: all 0.3s ease-in-out;
    a {
        border: 1px solid #231F1F;
        width: 33px;
        height: 33px;
        overflow: hidden;
        -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
        transition-duration: 0.2s;
        position: relative;
        display: inline-block;
        margin-top: 10px;
        left: 0px;
        top: 0px;
        background: #fff;
        // margin-top: 10px;
        &.social-facebook:hover .social-facebook-icon {
            fill: #FFF;
            transition-duration: 0.01s;
        }
        &.social-twitter:hover .social-twitter-icon {
            fill: #FFF;
            transition-duration: 0.01s;
        }
        &.social-youtube:hover .social-youtube-icon {
            fill: #FFF;
            transition-duration: 0.01s;
        }
        &.social-google:hover .social-google-icon {
            fill: #FFF;
            transition-duration: 0.01s;
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
            transition-duration: 0.2s;
            left: 5px;
            top: 5px;
            background: transparent;
        }
        &:before {
            content: "";
            position: absolute;
            border-radius: 33px;
            -moz-border-radius: 33px 33px 0 0;
            overflow: hidden;
            width: 66px;
            height: 66px;
            bottom: 0;
            left: -66px;
            right: 0;
            top: -66px;
            z-index: -1;
            -webkit-transition: all 0.2s ease-in;
        }
        &:hover:before {
            left: -15px;
            top: -15px;
        }
        svg {
            margin: -1px;
        }
    }
    &.animate {
        transform: translateX(100px);
        transition: all 0.3s ease-in-out;
    }
}

.social-vimeo:before {
    background: #1ab7ea;
}

.social-tumblr:before {
    background: #35465c;
}

.social-pinterest:before {
    background: #bd081c;
}

.social-instagram:before {
    background: #e1306c;
}

.social-facebook:before {
    background: #3b5998;
}

.social-twitter:before {
    background: #4099FF;
}

.social-youtube:before {
    background: #cd201f;
}

.social-google:before {
    background: #dd4b39;
}

.social-twitch:before {
    background: #6441a5;
}

@keyframes itensMenu {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.mobile {
    display: none !important;
}

.desktop {
    display: block !important;
}

@media only screen and (max-device-width: 480px) {
    #menu {
        position: absolute;
        left: 22px;
        top: 10px;
        filter: none;
        svg {
            display: none;
        }
        #nav-icon4 {
            top: 15px;
            left: 0;
        }
    }
    .sidebar {
        width: 100vw;
        ul {
            margin-top: 0;
            top: 50px;
            position: relative;
            li {
                a {
                    font-size: 17px;
                    letter-spacing: 0px;
                    text-align: center;
                    padding: 17px 0px;
                }
                .wavetext {
                    padding: 12px 0px;
                    margin-bottom: 0px;
                    margin-left: 25px !important;
                    animation: none !important;
                    text-align: left;
                    span {
                        animation: none !important;
                        font-size: 17px;
                    }
                }
                &.purple {
                    background: asset-url('site/ramona_menu.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.red {
                    background: asset-url('site/tudo_sobre_tmj.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.orange {
                    background: asset-url('site/remix.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.yellow {
                    background: asset-url('site/feito_por_voce.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.pink {
                    background: asset-url('site/denise.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.blue {
                    background: asset-url('site/participe.png') center center no-repeat;
                    background-size: 100%;
                    &:hover {
                        background-size: auto;
                    }
                }
                &.menu-login {
                    width: 100%;
                    height: 82px;
                    padding: 15px 0 15px 20px;
                    span {
                        font-size: 17px;
                        margin: 15px 15px;
                    }
                    a {
                        margin: 11px 25px 11px 0;
                        font-size: 15px;
                        width: 65px;
                        height: 33px;
                        line-height: 30px;
                        right: 0;
                    }
                    .avatar {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
        .menu {
            left: auto !important;
            right: 38px;
            top: 30px;
        }
        .login {
            position: absolute;
            left: 50%;
            top: 14px;
            margin-left: -44px;
        }
    }
    footer {
        position: relative;
        text-align: center;
        right: auto;
        bottom: auto;
        width: 100%;
        top: 50px;
        a {
            vertical-align: top;
            top: 26px;
            display: inline-block;
            margin: 0 5px 5px 5px;
            &:hover {
                -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
                -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
                box-shadow: 5px 5px 5x 0px rgba(0, 0, 0, 1);
                transition-duration: 0.2s;
                top: 26px;
                left: 0;
            }
        }
    }
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }
}
