<section id="categories" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Categorias</h1>
  </div>
    <div class="content">
        <%= simple_form_for [:admin, @category] do |f| %>
          <%= f.input :name, label: 'Nome', :class => 'button', error: 'Necessário informar um nome.' %>
          <%= f.input :cover, label: 'Capa', :class => 'button', error: 'Necessário informar uma capa.' %>
          <%= f.button :submit, :value => 'Atualizar Categoria', :class => 'button' %>
        <% end %>
    </div>
</section>
