<section id="cards" style="margin-top: 100px;">
    <div class="content">
        <%= simple_form_for [:admin, @text_color] do |f| %>
          <%= f.input :background, label: 'Background Color', error: 'Background Color is mandatory, please specify one' %>
          <%= f.input :foreground, label: 'Foreground Color', error: 'Foreground Color is mandatory, please specify one' %>
          <%= f.button :submit %>
        <% end %>
    </div>
</section>
