<div class="card-container" ng-controller="CardsController">
    <img class="initial-loading" src="/img/loading.gif" />
    <div resize ng-if="ready && pageName == 'homePage'" class="container cards mobile" ng-swipe-left="swipeLeft($event)" ng-swipe-right="swipeRight($event)" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()" data-page="1" data-slug="all">
        <div class="card" style="height: 90% !important; background: none !important"><img style="left: 50%; margin-left: -90px; margin-top: -60px; position: absolute; top: 50%;" src="/img/logo.svg" height="84" /></div>
        <div ng-repeat="card in cardsFeatured track by card.id" ng-click="openCard($event, card.id, card, false)" organize-cards data-class="" data-id="{{card.id}}" style="background-image: {{card.url}}">
            <div card-class ng-classes="card" data-original="{{card.image.url}}" class="img">{{card.url}}</div>
            <div ng-if="card.kind != 'featured'" class="content">
                <p class="name">{{card.user.name}}</p>
                <p class="date">
                    <a target="_blank" ng-href="{{card.source_url}}"><img class="originalPost" src="/img/{{card.origin}}.svg" /></a> {{card.posted_at | formatDate}}</p>
                <p class="text">{{card | cropText}}</p>
                <p class="read-more">Veja mais</p>
                <div ng-include src="'/pages/share.html'"></div>
            </div>
            <p ng-if="card.kind == 'featured'">{{card.content}}</p>
        </div>
    </div>
    <div resize ng-if="ready" class="container cards" ng-swipe-left="swipeLeft($event)" ng-swipe-right="swipeRight($event)" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()" data-page="1" data-slug="posts">
        <div ng-repeat="card in cards track by card.id" ng-click="openCard($event, card.id, card, false)" organize-cards data-class="" data-id="{{card.id}}" style="background-image: url({{card.kind=='featured' ? card.url : ''}})">
            <div ng-if="card.kind!='video'" card-class ng-classes="card" data-original="{{card.image.url}}" class="img">
                <div ng-if="card.kind == 'initial'">
                    <p>{{card.content}}</p>
                    <div>
                        <img src="{{card.icon.url}}" />
                        <p>{{card.count}}</p>
                    </div>
                </div>
            </div>
            <div ng-if="card.kind=='video'" card-class ng-classes="card" data-original="{{card.video.thumbnail}}" class="img video">
                <div class="videoMobile" ng-bind-html="card.source_url | formatVideo | trust"></div>
                <div class="video-overlay"></div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310">
                	<path id="XMLID_823_" d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
                		C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
                		C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
                		c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
                		c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
                		C204.394,157.263,202.325,160.684,199.021,162.41z"/>
                </svg>
            </div>
            <div ng-if="card.kind != 'featured' && card.kind != 'initial'" class="content">
                <p class="name">{{card.user.name}}</p>
                <p class="date">
                    <a target="_blank" ng-href="{{card.source_url}}"><img class="originalPost" src="/img/{{card.origin}}.svg" /></a> {{card.posted_at | formatDate}}</p>
                <p class="text">{{card | cropText}}</p>
                <p class="read-more">Veja mais</p>
                <div ng-include src="'/pages/share.html'"></div>
            </div>
            <p ng-if="card.kind == 'featured'">{{card.content}}</p>
        </div>
    </div>
    <div resize ng-if="ready && pageName != 'homePage'" class="container cards" ng-swipe-left="swipeLeft($event)" ng-swipe-right="swipeRight($event)" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()" data-page="1" data-slug="recommendation">
        <div ng-repeat="card in cards_recommended track by card.id" ng-click="openCard($event, card.id, card, false)" organize-cards data-class="" data-id="{{card.id}}">
            <div ng-if="card.kind!='video'" card-class ng-classes="card" data-original="{{card.image.url}}" class="img">
                <div ng-if="card.kind == 'initial'">
                    <p>{{card.content}}</p>
                    <div>
                        <img src="{{card.icon.url}}" />
                        <p>{{card.count}}</p>
                    </div>
                </div>
            </div>
            <div ng-if="card.kind=='video'" card-class ng-classes="card" data-original="{{card.video.thumbnail}}" class="img">
                <div class="videoMobile" ng-bind-html="card.source_url | formatVideo | trust"></div>
            </div>
            <div ng-if="card.kind != 'featured' && card.kind != 'initial'" class="content">
                <p class="name">{{card.user.name}}</p>
                <p class="date">
                    <a target="_blank" ng-href="{{card.source_url}}"><img class="originalPost" src="/img/{{card.origin}}.svg" /></a> {{card.posted_at | formatDate}}</p>
                <p class="text">{{card | cropText}}</p>
                <p class="read-more">Veja mais</p>
                <div ng-include src="'/pages/share.html'"></div>
            </div>
            <p ng-if="card.kind == 'featured'">{{card.content}}</p>
        </div>
    </div>
    <img src="/img/seta.png" class="arrowBottom mobile" />
    <div class="card one-five column"></div>
</div>
<div class="cards-loading">
    <span></span>
    <span></span>
    <span></span>
</div>
