<div resize class="container cards" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 10)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card six" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 11)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 12)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 13)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 14)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card six" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 15)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 16)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
    <div class="card three" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-click="openCard($event, 17)">
        <div style="background-image:url(/img/card.jpg)" class="img">
            <img class="userPhoto" src="/img/user.jpg" />
        </div>
        <div class="content">
            <p class="name">Robson Coelho</p>
            <p class="date"><img src="/img/facebook.png" /> 28 Jul 2016, 18h48</p>
            <p class="text">Biquinis inspirados em sereias é o sonho de qualquer princesa do mar!</p>
            <p class="share">
                <a ng-href="#">
                    <img class="heart" src="/img/like.png">
                </a>
                <a ng-href="#">
                    <img class="arrow" src="/img/share.png">
                </a>
            </p>
        </div>
    </div>
</div>
