<div class="container login">
	<div class="content-box">
		<h1 class="title">Minha Área</h1>
		<button class=" btn btn-fb">Entrar com Facebook</button>
		<h2>ou</h2>
		<form name="profileForm">
	        <div class="form-group user">
	            <label for="username">Apelido</label>
	            <br>
	            <input type="text" name="username" class="form-control" placeholder="insira seu apelido"/>
	        </div>
	        <div class="form-group pass">
	            <label for="password">Senha</label>
	            <br>
	            <ul class="input-pass">
	            	<li ng-click="togglePassword()" style="background:url('{{selected1.img}}'); background-size: cover;">
	            		<input type="hidden" name="pass-1" value="{{pass.value}}"/>
	            	</li>
	            	<li ng-click="togglePassword()">
	            		<input type="hidden" name="pass-2" value="{{pass.value}}"/>
	            	</li>
	            	<li ng-click="togglePassword()">
	            		<input type="hidden" name="pass-3" value="{{pass.value}}"/>
	            	</li>
	            </ul>
	            <a href="#" class="link-pass">Esqueceu a senha?</a>
	            <div class="pass-box hide" ng-class="{show: open, hide: !open}">
	            	<ul>
	            		<li ng-repeat="pass in passwords" ng-class="{active : isSelected(pass)}">
	            			<img src="{{pass.img}}" alt="{{pass.name}}" ng-click="setMaster(pass)">
	            		</li>
	            	</ul>
	            </div>
            	<h1>{{selected1.value}}</h1>
	        </div>
	        <div class="form-actions">
	            <button type="submit" class="btn btn-submit">Entrar</button>
	        </div>
	        <p class="link-cadastro">É novo aqui? <a href="#"> Cadastre-se</a></p>
    	</form>
	</div>
</div>