<p class="share">
    <a ng-click="likeCard($event, card.id)" class="{{card.liked ? 'liked' : ''}} ng-hide" ng-href="#">
        <img class="heart" src="{{card.liked ? '/img/liked.svg' : '/img/like.svg'}}"><span class="counter">&nbsp;{{card.likes ? card.likes : 0}}</span>
    </a>
    <a ng-if="card.user.role!='editor'" ng-click="openShare($event)" ng-href="#" ng-init="imgsrc='/img/share.svg'" ng-mouseover="imgsrc='/img/share-rollover.svg'" ng-mouseout="imgsrc='/img/share.svg'">
        <img class="arrow" ng-src="{{imgsrc}}">
    </a>
    <a ng-if="card.user.role=='editor'" ng-click="openShare($event)" ng-href="#" ng-init="imgsrc='/img/share-editor.svg'" ng-mouseover="imgsrc='/img/share-rollover-editor.svg'" ng-mouseout="imgsrc='/img/share-editor.svg'">
        <img class="arrow" ng-src="{{imgsrc}}">
    </a>

</p>
<div class="shareBox">
    <div class="content-item-box">
        <a class="item-share" target="popup"
           ng-click="openSharePopup('https://www.facebook.com/sharer/sharer.php?u=', card.id)">
            <img class="shareButton" src="/img/facebook-remix.svg" />
        </a>
        <a class="item-share" target="popup"
            ng-click="openSharePopup('https://twitter.com/home?status=', card.id)">
            <img class="shareButton" src="/img/twitter-remix.svg" />
        </a>
        <a class="item-share" target="popup"
            ng-click="openSharePopup('http://www.tumblr.com/share/link?url=', card.id)">
            <img class="shareButton" src="/img/tumblr-remix.svg" />
        </a>
        <a class="item-share notSafari" ngclipboard data-clipboard-text="{{locationURL}}/detalhe/card/{{card.id}}" ngclipboard-success="onClipboardSuccess(e);">
            <img class="shareButton" src="/img/copy-link.svg" />
        </a>
    </div>
    <p class="tooltip-clip sucess">Copiado!</p>
    <p class="tooltip-clip errror">Falhou! :(</p>
</div>
