<p class="share">
    <a ng-click="likeCard($event, card.id)" class="{{card.liked ? 'liked' : ''}} ng-hide" ng-href="#">
        <img class="heart" src="{{card.liked ? '/img/liked.png' : '/img/like.png'}}"><span class="counter">&nbsp;{{card.likes ? card.likes : 0}}</span>
    </a>
    <a ng-click="openShare($event)" ng-href="#">
        <img class="arrow" src="/img/share.png">
    </a>
</p>
<div class="shareBox">
    <a target="_blank" ng-href="https://www.facebook.com/sharer/sharer.php?u={{SITE_URL}}/detalhe/card/{{card.id}}">
        <img src="/img/facebook-remix-copy.png" />
    </a>
    <a target="_blank" ng-href="https://pinterest.com/pin/create/button/?url=localhost&media=localhost&description={{SITE_URL}}/detalhe/card/{{card.id}}">
        <img src="/img/page-1.png" />
    </a>
    <a target="_blank" ng-href="https://twitter.com/home?status={{SITE_URL}}/detalhe/card/{{card.id}}">
        <img src="/img/twitter-remix-copy.png" />
    </a>
    <a target="_blank" ng-href="http://www.tumblr.com/share/link?url={{SITE_URL}}/detalhe/card/{{card.id}}">
        <img src="/img/tumblr-remix-copy.png" />
    </a>
</div>
