.remix-landing {
  .gallery {
    .gallery-holder {
      margin-top: 20px;
    }
    .gallery-item {
      img {
        max-width: 100%;
      }
      .actions {
        @include clearfix;
        margin-top: 10px;
        text-align: right;
        button {
          padding: 0 5px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &.remove {
            float: left;
          }
        }
      }
    }
  }
  @include mq-only-xs {
    .gallery {
      overflow: auto;
      .gallery-holder {
        font-size: 0;
        line-height: 0;
        margin-left: -$grid-gutter-width;
        white-space: nowrap;
        .gallery-item {
          display: inline-block;
          margin-left: $grid-gutter-width;
        }
      }
    }
  }
  @include mq-from-sm {
    .gallery {
      .gallery-holder {
        @include make-row;
        .gallery-item {
          @include make-sm-column(3);
        }
      }
    }
  }
}
