<div class="six columns left">
    <div class="container">
        <div class="twelve columns logo">
            <img src="/img/logo.svg" />
        </div>
        <p class="intro">Quer fazer parte da Turma mais famosa do Brasil? Inscreva-se para a seleção!</p>
        <iframe src="https://www.youtube.com/embed/mvbMv-8lo5A" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="six columns right">
    <div class="container mobile">
        <div class="twelve columns steps">
            <div class="four columns mobile step active">
                <div>1</div>
                <p>SOBRE O CANDIDATO</p>
            </div>
            <div class="four columns mobile step">
                <div>2</div>
                <p>INFORMAÇÕES COMPLEMENTARES</p>
            </div>
            <div class="four columns mobile step">
                <div>3</div>
                <p>DADOS DO RESPONSÁVEL</p>
            </div>
        </div>
    </div>
    <div class="twelve columns forms">
        <div class="container holder">
            <div class="form active">
                <div class="intro">
                    <div class="twelve columns logo">
                        <img src="/img/logo.svg" />
                    </div>
                    <p class="intro">Quer fazer parte da Turma mais famosa do Brasil? Inscreva-se para a seleção!</p>
                    <iframe src="https://www.youtube.com/embed/mvbMv-8lo5A" frameborder="0" allowfullscreen></iframe>
                </div>
                <p class="title">SOBRE O CANDIDATO</p>
                <div class="field simple twelve columns">
                    <label class="placeholder" for="name">Nome</label>
                    <input id="name" ng-model="form.name" />
                </div>
                <div class="field simple six columns">
                    <label class="placeholder" for="birthdate">Data de nascimento</label>
                    <input id="birthdate" class="date" ng-model="form.birthdate" />
                </div>
                <div class="clear"></div>
                <div class="field simple six columns">
                    <label class="placeholder" for="cellphone">Celular</label>
                    <input id="cellphone" class="phone" ng-model="form.cellphone" />
                </div>
                <div class="field simple six columns last">
                    <label class="placeholder" for="phone">Telefone fixo</label>
                    <input id="phone" class="phone" ng-model="form.phone" />
                </div>
                <div class="clear"></div>
                <div class="field simple six columns">
                    <label class="placeholder" for="document_rg">RG</label>
                    <input id="document_rg" ng-model="form.document_rg" />
                </div>
                <div class="field simple six columns last">
                    <label class="placeholder" for="document_cpf">CPF</label>
                    <input id="document_cpf" class="cpf" ng-model="form.document_cpf" />
                </div>
                <div class="clear"></div>
                <p class="title space">APRESENTAÇÃO DO CANDIDATO</p>
                <div class="field simple twelve columns">
                    <label for="video">VIDEO
                        <br />Fale seu nome, idade, de onde você é, explicando qual a sua relação com atuação e com a Turma da Mônica Jovem</label>
                    <input id="video" ng-model="form.video" placeholder="https://" />
                </div>
                <div class="clear"></div>
                <div class="field twelve columns files">
                    <label for="video">FOTOS
                        <br />Mande-nos uma foto de rosto, uma de corpo inteiro e uma da cintura para cima</label>
                    <div class="file twelve columns">
                        <input type="file" id="face" file-on-change="changedFile">
                        <label class="eight columns">ROSTO</label>
                        <button ng-click="selectFile($event)" type="text" class="four columns">ESCOLHER ARQUIVO</button>
                    </div>
                    <div class="clear"></div>
                    <div class="file twelve columns">
                        <input type="file" id="body" file-on-change="changedFile">
                        <label class="eight columns">CORPO</label>
                        <button ng-click="selectFile($event)" type="text" class="four columns">ESCOLHER ARQUIVO</button>
                    </div>
                    <div class="clear"></div>
                    <div class="file twelve columns">
                        <input type="file" id="upperbody" file-on-change="changedFile">
                        <label class="eight columns">CINTURA</label>
                        <button ng-click="selectFile($event)" type="text" class="four columns">ESCOLHER ARQUIVO</button>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns advance">
                    <button ng-click="advanceForm()" type="text" class="twelve columns shadow">PRÓXIMO</button>
                </div>
            </div>
            <div class="form">
                <p class="title">INFORMAÇÕES COMPLEMENTARES DO CANDIDATO</p>
                <div class="field simple four columns">
                    <label class="placeholder" for="height">Altura</label>
                    <input id="height" ng-model="form.height" />
                </div>
                <div class="field simple four columns middle">
                    <label class="placeholder" for="weight">Peso</label>
                    <input id="weight" ng-model="form.weight" />
                </div>
                <div class="clear"></div>
                <div class="field simple four columns">
                    <label class="placeholder" for="eye_color">Cor dos olhos</label>
                    <input id="eye_color" ng-model="form.eye_color" />
                </div>
                <div class="field simple four columns middle">
                    <label class="placeholder" for="hair_color">Cor do cabelo</label>
                    <input id="hair_color" ng-model="form.hair_color" />
                </div>
                <div class="field simple four columns last">
                    <label class="placeholder" for="skin_color">Cor da pele</label>
                    <input id="skin_color" ng-model="form.skin_color" />
                </div>
                <div class="clear"></div>
                <div class="field simple four columns">
                    <label class="placeholder" for="shirt_size">Blusa</label>
                    <input id="shirt_size" class="number" placeholder="Tamanho" ng-model="form.shirt_size" />
                </div>
                <div class="field simple four columns middle">
                    <label class="placeholder" for="pants_size">Calça</label>
                    <input id="pants_size" class="number" placeholder="Tamanho" ng-model="form.pants_size" />
                </div>
                <div class="field simple four columns last">
                    <label class="placeholder" for="shoe_size">Sapato</label>
                    <input id="shoe_size" class="number" placeholder="Tamanho" ng-model="form.shoe_size" />
                </div>
                <div class="clear"></div>
                <div class="field twelve columns boolean">
                    <div class="five columns question">
                        <label class="placeholder">Você canta?</label>
                        <div class="four columns option" ng-click="checkField($event)">SIM
                            <input type="radio" name="singer" value="1" ng-model="form.singer" />
                        </div>
                        <div class="four columns option" ng-click="checkField($event)">NÃO
                            <input type="radio" name="singer" value="0" ng-model="form.singer" />
                        </div>
                        <input type="hidden" class="contentField" value="empty" />
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns boolean">
                    <div class="five columns question">
                        <label class="placeholder">Toca algum instrumento?</label>
                        <div class="four columns option" ng-click="checkField($event)">SIM
                            <input type="radio" name="instrument" value="1" ng-model="form.instrument" />
                        </div>
                        <div class="four columns option" ng-click="checkField($event)">NÃO
                            <input type="radio" name="instrument" value="0" ng-model="form.instrument" />
                        </div>
                    </div>
                    <div class="five columns complement">
                        <label class="placeholder">Qual?</label>
                        <div class="twelve columns value">
                            <input class="contentField" ng-model="form.instrument_description" />
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns boolean">
                    <div class="five columns question">
                        <label class="placeholder">Pratica algum esporte?</label>
                        <div class="four columns option" ng-click="checkField($event)">SIM
                            <input type="radio" name="sport" value="1" ng-model="form.sport" />
                        </div>
                        <div class="four columns option" ng-click="checkField($event)">NÃO
                            <input type="radio" name="sport" value="0" ng-model="form.sport" />
                        </div>
                    </div>
                    <div class="five columns complement">
                        <label class="placeholder">Qual?</label>
                        <div class="twelve columns value">
                            <input class="contentField" ng-model="form.sport_description" />
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns boolean">
                    <div class="five columns question">
                        <label class="placeholder">Ja fez aula de teatro?</label>
                        <div class="four columns option" ng-click="checkField($event)">SIM
                            <input type="radio" name="theater" value="1" ng-model="form.theater" />
                        </div>
                        <div class="four columns option" ng-click="checkField($event)">NÃO
                            <input type="radio" name="theater" value="0" ng-model="form.theater" />
                        </div>
                    </div>
                    <div class="five columns complement">
                        <label class="placeholder">Por quanto tempo e onde?</label>
                        <div class="twelve columns value">
                            <input class="contentField" ng-model="form.theater_description" />
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns boolean">
                    <div class="five columns question">
                        <label class="placeholder">Ja teve alguma experiência com atuação?</label>
                        <div class="four columns option" ng-click="checkField($event)">SIM
                            <input type="radio" name="performance" value="1" ng-model="form.performance" />
                        </div>
                        <div class="four columns option" ng-click="checkField($event)">NÃO
                            <input type="radio" name="performance" value="0" ng-model="form.performance" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="twelve columns complement space">
                        <label class="placeholder">Por quanto tempo e onde?</label>
                    </div>
                    <div class="twelve columns value">
                        <textarea class="contentField" ng-model="form.performance_description"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns advance">
                    <div class="field six columns">
                        <button ng-click="returnForm()" type="text" class="twelve columns shadow">VOLTAR</button>
                    </div>
                    <div class="field six columns last">
                        <button ng-click="advanceForm()" type="text" class="twelve columns shadow">PRÓXIMO</button>
                    </div>
                </div>
            </div>
            <div class="form">
                <p class="title">SOBRE O RESPONSÁVEL</p>
                <div class="field simple twelve columns">
                    <label class="placeholder" for="adult_name">Nome</label>
                    <input id="adult_name" ng-model="form.adult_name" />
                </div>
                <div class="field simple six columns">
                    <label class="placeholder" for="adult_birthdate">Data de nascimento</label>
                    <input id="adult_birthdate" class="date" ng-model="form.adult_birthdate" />
                </div>
                <div class="clear"></div>
                <div class="field simple six columns">
                    <label class="placeholder" for="adult_cellphone">Celular</label>
                    <input id="adult_cellphone" class="phone" ng-model="form.adult_cellphone" />
                </div>
                <div class="field simple six columns last">
                    <label class="placeholder" for="adult_phone">Telefone fixo</label>
                    <input id="adult_phone" class="phone" ng-model="form.adult_phone" />
                </div>
                <div class="clear"></div>
                <div class="field simple twelve columns">
                    <label class="placeholder" for="adult_email">Email</label>
                    <input id="adult_email" ng-model="form.adult_email" />
                </div>
                <div class="clear"></div>
                <div class="field simple twelve columns">
                    <label class="placeholder" for="adult_address">Endereço</label>
                    <input id="adult_address" ng-model="form.adult_address" />
                </div>
                <div class="clear"></div>
                <div class="field simple six columns">
                    <label class="placeholder" for="adult_neighborhood">BAIRRO</label>
                    <input id="adult_neighborhood" ng-model="form.adult_neighborhood" />
                </div>
                <div class="field simple six columns last">
                    <label class="placeholder" for="adult_city">CIDADE</label>
                    <input id="adult_city" ng-model="form.adult_city" />
                </div>
                <div class="clear"></div>
                <div class="field simple four columns">
                    <label class="placeholder" for="adult_state">ESTADO</label>
                    <select id="adult_state" ng-model="form.adult_state">
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
                <div class="field simple four columns middle">
                    <label class="placeholder" for="adult_zip">CEP</label>
                    <input id="adult_zip" class="zip" ng-model="form.adult_zip" />
                </div>
                <div class="clear"></div>
                <div class="field simple six columns">
                    <label class="placeholder" for="adult_document_rg">RG</label>
                    <input id="adult_document_rg" ng-model="form.adult_document_rg" />
                </div>
                <div class="field simple six columns last">
                    <label class="placeholder" for="adult_document_cpf">CPF</label>
                    <input id="adult_document_cpf" class="cpf" ng-model="form.adult_document_cpf" />
                </div>
                <div class="clear"></div>
                <div class="field box twelve columns terms">
                    <div class="one columns">
                        <input type="checkbox" id="accept_terms" name="accept_terms" value="1" ng-model="form.accept_terms" />
                    </div>
                    <div class="ten columns">
                        <label class="placeholder" for="accept_terms"><span>Li e aceito os <a href="">Termos e condições</a></label>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field twelve columns advance">
                    <div class="field six columns">
                        <button ng-click="returnForm()" type="text" class="twelve columns shadow">VOLTAR</button>
                    </div>
                    <div class="field six columns last">
                        <button ng-click="sendForm()" type="text" class="twelve columns shadow">ENVIAR</button>
                    </div>
                </div>
            </div>
            <div class="form finish">
                <img src="/img/success.svg" />
                <h1>INSCRIÇÃO REALIZADA <br />COM SUCESSO!</h1>
            </div>
        </div>
    </div>
</div>
