<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta itemprop="name" content="">
    <meta itemprop="url" content="">
    <meta itemprop="image" content="">
    <meta itemprop="description" content="">
    <base href="/">
    <!-- FACEBOOK -->
    <meta property="og:type" content="" />
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image:src" content="" />
    <!-- CSS -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body ng-app="tmj" ng-controller="MainController">
    <div id="menu">
        <img src="/img/menu-desktop.png" class="desktop" ng-click="openMenu()" />
        <img src="/img/menu-mobile.png" class="mobile" ng-click="openMenu()" />
    </div>
    <div class="sidebar">
        <img src="/img/fechar-desktop.png" class="menu desktop" ng-click="closeMenu()" />
        <img src="/img/fechar.png" class="menu mobile" ng-click="closeMenu()" />
        <a ng-href="login" class="mobile login">
            <img src="/img/botao-entrar.png" />
        </a>
        <ul>
            <li class="red"><a ng-href="/tudo-sobre-tmj">TUDO SOBRE TMJ</a></li>
            <li class="orange"><a ng-href="/remix">REMIX</a></li>
            <li class="yellow"><a ng-href="/feito-por-voce">FEITO POR VOCÊ</a></li>
            <li class="purple"><a ng-href="/personagem/ramona">RAMONA</a></li>
            <li class="pink"><a ng-href="/personagem/denise">DENISE</a></li>
            <li class="blue"><a ng-href="/personagem/geek">GEEK</a></li>
        </ul>
        <footer class="mobile">
            <a href="#">
                <img src="/img/rede-social-facebook.png" />
            </a>
            <a href="#">
                <img src="/img/rede-social-twitter.png" />
            </a>
            <a href="#">
                <img src="/img/rede-social-youtube.png" />
            </a>
            <a href="#">
                <img src="/img/rede-social-google.png" />
            </a>
        </footer>
    </div>
    <div class="overlay" ng-click="closeMenu()"></div>
    <div class="lightbox">
        <div class="detail content {{card.kind=='image' ? 'image' : ''}}">
            <div class="preview" style="background-image:url('{{card.image.url}}')"></div>
            <div class="text">
                <a ng-href="#">
                    <img ng-click="closeLightbox()" src="/img/fechar-desktop.png" class="close" />
                </a>
                <p class="name">{{card.user.name}}</p>
                <p class="date"><img src="/img/{{card.origin}}.png" /> {{card.posted_at | formatDate}}</p>
                <p class="content">
                    {{card.content}}
                </p>
                <div class="hr"></div>
                <div ng-include src="'/pages/share.html'"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <header>
        <p class="container"></p>
    </header>
    <section ng-view></section>
    <footer class="desktop">
        <a href="#">
            <img src="/img/rede-social-facebook.png" />
        </a>
        <a href="#">
            <img src="/img/rede-social-twitter.png" />
        </a>
        <a href="#">
            <img src="/img/rede-social-youtube.png" />
        </a>
        <a href="#">
            <img src="/img/rede-social-google.png" />
        </a>
    </footer>
    <!-- libs -->
    <script src="/js/libs/external/retina.js"></script>
    <script src="/js/libs/external/jquery.js"></script>
    <script src="/js/libs/external/masonry.js"></script>
    <!-- load angular, ngRoute, ngAnimate -->
    <script src="/js/libs/angular/angular.js"></script>
    <script src="/js/libs/angular/angular-cookies.js"></script>
    <script src="/js/libs/angular/angular-route.js"></script>
    <script src="/js/libs/angular/angular-animate.js"></script>
    <script src="/js/libs/angular/angular-touch.js"></script>
    <!-- main controllers -->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/MainController.js"></script>
    <script src="/js/controllers/HomeController.js"></script>
    <script src="/js/directives/Directives.js"></script>
</body>

</html>
