
<section id="cards" style="margin-top: 100px;">
    <div class="content">
        <%= link_to "New", new_admin_remix_category_image_path  %>
        <ul>
            <% @images.each do |image| %>
            <li><img src="<%= image.image.url %>" alt="">
            (<%= link_to "Delete", admin_remix_category_image_path(@category, image), method: :delete, remote: true %>)
            </li>
            <% end %>
        </ul>
    </div>
</section>
