<section id="images" class="remix-sub">
  <div class="top-bar">
    <h1 class="title">Imagens</h1>
  </div>
    <div class="content">
        <%= link_to "Nova Imagem", new_admin_remix_category_image_path, class: 'button'  %>
        <ul>
            <% @images.each do |image| %>
            <li><img src="<%= image.image.url %>" alt="">
            <%= link_to "Apagar", admin_remix_category_image_path(@category, image), class: 'button', method: :delete, remote: true %>
            </li>
            <% end %>
        </ul>
    </div>
</section>
